p#poweredby 
    |Coded by <strong>Me</strong> тип Powered by servers somewhere 
    //- <br> Copyright ┬й 2019 Aliasger Rasheed
//- ---------JQUERY
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin="anonymous")

//- -------IMAGES LOADED
//- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
//- ---------ISOTOPE-----------
//- script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
//- --------FONTAWESOME
script(src='https://kit.fontawesome.com/b5e91a0881.js')
//- ------LAZYLOAD INTERSECTION OBESERVER BACK-COMP
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.5.1/intersection-observer.js"></script>
//- ------VANILLA LAZYLOAD
script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')
//- ---------------SCROLL ANIMATION 
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
script(src="js/main.js")
