
ul
    li.email  aliasgerrasheed@outlook.com
        //- po.popup  
        //-     a(onclick="mailtoF", href="mailto:aliasgerrasheed@outlook.com").tooltip    
        //-         span#mailto email app   
        //-         //- span#mPlane.fa-paper-plane.fa
        //-     |  or  
        //-     a(onclick="textToClipboard()").tooltip
        //-         span#copy copy it  
                //- span#mCopy.fa-copy.fa 
        
    li.flex-b.links 

        a(href="https://www.linkedin.com/in/aliasger-rasheed/" target="_blank").fab.fa-linkedin        
        a(href="https://www.instagram.com/allegoraphy/" target="_blank").fab.fa-instagram
        a(href="https://github.com/ali-rasheed/" target="_blank").fab.fa-github
        a(href="https://www.figma.com/@the_maker/" target="_blank").fab.fa-figma 
    li.flex-b.page-links     
        a(href="assets/Aliasger-Rasheed_Resume.pdf" target="_blank").in-txt Résumé
        a(href="/references.html").in-txt Citations
    //- li.flex-b.r10
small 
    |Coded by  <em>&nbsp;Me&nbsp;</em> ⨯ Powered by servers somewhere  

include ./script-imports.pug
script(src="js/main.js")