hr 
ul
    li.flex-b 
        //- | click to copy:  
        //- a(onclick="textToClipboard('aliasgerrasheed@outlook.com')").email aliasgerrasheed@outlook.com
        a(href="mailto:aliasgerrasheed@outlook.com").email.in-txt aliasgerrasheed@outlook.com
        
    li.flex-b 

        a(href="https://www.linkedin.com/in/aliasger-rasheed/" target="_blank").fab.fa-linkedin        
        a(href="https://www.instagram.com/allegoraphy/" target="_blank").fab.fa-instagram
        a(href="https://github.com/ali-rasheed/" target="_blank").fab.fa-github
        a(href="https://www.figma.com/@the_maker/" target="_blank").fab.fa-figma 
    li.flex-b 
        a(href="assets/Aliasger_Rasheed_Resume.pdf" target="_blank").in-txt Résumé
        a(href="/references.html").in-txt Citations 
    //- a    aliasgerrasheed@outlook.com
    //- li.flex-b 
        //- |Coded by  <strong>&nbsp;Me&nbsp;</strong> ⨯ Powered by servers somewhere  
    //- <br> Copyright © 2019 Aliasger Rasheed

<div id="snackbar">You have copied my email. Just paste it now. No annoying <em>mailto</em> nonsense :)</div> 


include ./script-imports.pug
script(src="js/main.js")
      