meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
<meta name="description" content="Aliasger Rasheed's Design & Photography Portfolio Site">
<meta name="keywords" content="HTML,CSS,,JavaScript">
<meta name="author" content="Aliasger Rasheed">
meta(http-equiv="x-ua-compatible" content="ie=edge")

link(type='image/x-icon', href='imgs/favicon.ico', rel='shortcut icon')
<link rel="apple-touch-icon" sizes="57x57" href="imgs/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="imgs/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="imgs/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="imgs/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="imgs/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="imgs/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="imgs/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="imgs/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="imgs/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="imgs/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="imgs/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="imgs/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="imgs/icons/favicon-16x16.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="imgs/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#FF2079">
<link rel="manifest" href="imgs/icons/manifest.json">
//- //////////STYLE SHEETS/////////////
<link rel="stylesheet" href="webfonts/webfontkit-20191027-133924/fonts.css" type="text/css" charset="utf-8" /> 
<link rel="stylesheet" href="webfonts/hk-grotesk/hk-grotesk.css" charset="utf-8">    
<link rel="stylesheet" href="webfonts/WEB/stylesheet.css" charset="utf-8">    

link(href="css/normalize.css", rel="stylesheet")
link(href="css/main.css", rel="stylesheet")


link(href="css/fontawesome.min.css" rel="stylesheet") 
link(href="css/brands.min.css" rel="stylesheet")
link(href="css/solid.min.css" rel="stylesheet")
link(href="css/light.min.css" rel="stylesheet")
link(href="css/duotone.min.css" rel="stylesheet")


//- /////////SPACE MONO///////////
//- <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap" rel="stylesheet">


//- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
 