
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
<meta name="description" content="Aliasger Rasheed's Portfolio">
<meta name="keywords" content="HTML,CSS,JavaScript">
<meta name="author" content="Aliasger Rasheed">
meta(http-equiv="x-ua-compatible" content="ie=edge")

<meta name="msapplication-TileColor" content="#ffffff">
//- <meta name="msapplication-TileImage" content="imgs/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#FF2079">
<link rel="manifest" href="imgs/icons/manifest.json">
<meta name="p:domain_verify" content="08e8999c41c6d49126256ccafec71782"/>


//- //////////STYLE SHEETS/////////////
//- <link rel="stylesheet" href="https://use.typekit.net/zak2pdv.css">

    //- FONTS 
//- <link rel="stylesheet" href="webfonts/webfontkit-20191027-133924/fonts.css" type="text/css" /> 

//- <link rel="stylesheet" href="https://use.typekit.net/qny7vcc.css">

link(href="webfonts/webfontkit-20191027-133924/fonts.css", rel="stylesheet")
link(href="webfonts/cabinetgrotesk_WEB/css/cabinet-grotesk.css", rel="stylesheet")

<link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet"> 

link(href="css/normalize.css", rel="stylesheet")
link(href="css/main.css", rel="stylesheet")
    //- LIGHTBOX 
link(href="css/lightbox.css", rel="stylesheet")

    //- FONT AWESOME 

link(href="css/fontawesome.min.css" rel="stylesheet") 
link(href="css/brands.min.css" rel="stylesheet")
link(href="css/solid.min.css" rel="stylesheet")
link(href="css/light.min.css" rel="stylesheet")
link(href="css/duotone.min.css" rel="stylesheet")   
//-  PRELOAD JS  
script(src="js/preload.js")
//- CSS

//- link(href="css/lightbox.min.css" rel="stylesheet")
<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
//- JS

//- <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet"> 
//-  <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet"> 
//- <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
