
doctype
html(lang='en')
  head
    //- include ./includes/head1.jade
    title Me - Ali Rasheed
  body
    header
      //- include ./includes/nav1.jade
    main
    
    footer
    //-  include ./includes/footer1.jade