- photolink = "/photography"
- index ="/"
- about ="/about"

- threedee ="/threedee"

nav#nav

    input#menu-input(name="menu-input" type="checkbox")
    label#menu-label(for="menu-input")
     
    
    div.nav-holder
        a#nav-home.name-link.name-expand(href="/index.html")
            |Aliasger Rasheed

    #desk-nav   

     
        #nav-links
            |#[a(href=index ) Design]
            |#[a(href=photolink ) Photography]
            //- |#[a(href=threedee ) 3D-Vis]

            |#[a(href=about) Who?]

        #nav-theme-toggle  
            input(id="adjust", name="modeToggle", type="checkbox") 
            label#modeLbl(for="adjust")      
        //- div |
        //- #nav-font-toggle
            input(id="font", name="fontToggle", type="checkbox") 
            label#fontLbl(for="font")     
 
        
    #side-nav   
        
        a.fal.fa-angle-double-up.name-link#pull-up(href="#")  