nav
    ul(id="nav-name")
        li#nav-h1 
            a.nav-item(href="/index.html") Ali Rasheed
            
        li#nav-h2
            |#[a.in-txt(href="/photography.html") Photography]
            | |
            |#[a.in-txt(href="/index.html") Design]
    ul#nav-cont   
        //- a#adjust(class="fas fa-adjust", href="javascript:void(0);", onclick="darkModeSwitch(this)") 
        
        li#side-nav         
            |#[a.in-txt.nav-item(href="/photography.html" name="side-nav") Photography]
            | |
            |#[a.in-txt.nav-item(href="/index.html" name="side-nav") Design Projects]

        li 
            a(class="nav-item in-txt", href="about.html") About

        li 
            input(type="checkbox", name="modeToggle" id="adjust") 
            label#modeLbl(for="adjust").in-txt
         
        //- each val, index in {about:"About"} 
        //-     a(class="nav-item", href=index+"") #{val}
                  