- photolink = "/photography.html"

//- - photolink = "#"

nav
    ul(id="nav-name")
        li#nav-h1 
            a.nav-item(href="/index.html") Ali Rasheed
    
        li#nav-h2
            |#[a.in-txt(href=photolink) Photography]
            | |
            |#[a.in-txt(href="/index.html") Design]
    ul#nav-cont   
        
        li#side-nav         
            |#[a.in-txt.nav-item.side-nav-child(href=photolink ) Photography]
            | |
            |#[a.in-txt.nav-item.side-nav-child(href="/index.html" ) Design ]

        li 
            a(class="nav-item in-txt", href="about.html") About

        li 
            input(type="checkbox", name="modeToggle" id="adjust") 
            label#modeLbl(for="adjust").in-txt                  