nav#topNav.grid 
    #mobileOverlay
    a(id="nav-name" href="https://ali-rasheed.github.io")
        h1#nav-name Ali Rasheed 
        h2 Photographer тип Industrial Designer
    a#adjust(class="fas fa-adjust", href="javascript:void(0);", onclick="darkMdeSwitch()") 
    each val, index in {index: "Work", about:"About"}
        a(class="nav-item", href=index+".html") #{val}
    a#mobilebutton.icon(href='javascript:void(0);', onclick='myFunction()')
    //-     span
    //-     span
    //-     span
      