//- -------IMAGES LOADED
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
//- ---------ISOTOPE-----------
script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
 