//- ---------JQUERY
script(type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js' crossorigin="anonymous")
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

//- ------LAZYLOAD INTERSECTION OBESERVER BACK-COMP
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.5.1/intersection-observer.js"></script>
//- ------VANILLA LAZYLOAD
script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')


//- vanilla tilt

//- <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>

//- 
<script type="text/javascript" src="js/vanilla-tilt.min.js"></script>
<script src="js/lightbox.js"></script>

<script type="text/javascript" src="js/slick/slick.min.js"></script>
//- <script type="text/javascript" src="js/touch.js"></script>
     