
/*
-------------------VARIABLES------------------
*/
:root
    --purple:#d229eb
    --purple-light:#ed6aff
    --purple-dark:#9b04b0
    --purpler: 210;
    --purpleg: 41;
    --purpleb: 235;

    --purpleh:292;
    --purples:83;
    --purplel 54;
    --grey:hsl(0,0%,20%)
    --light-white: #fff
    --light-white-rgb: 255,255,255;
    
    --light-black:#0B0B0B
    --light-black:#000
    
    --dark-white: #e2e2e2
    --dark-black: #141414 
    --dark-black-rgb: 30,30,30;

    
    --purpleh:292;
    --purples:83%; 
    --purplel 54%; 
 
    // --pfont: "Krona one"
    --pfont: "Mazius Display Regular"
    // --pfont: "Almarena Display"
    // --sfont: "HK Grotesk"
    // // --sfont: 'neue-haas-grotesk-display'
    // --sfont: "Happy Times at the IKOB New Game Plus Edition" 
    --sfont: "Piazzolla"
    --sfont: "Switzer"
    // --sfont: 'Almarena'
    // --sfont: 'Open Sauce Sans' 
    // --sfont: "Comprehension" 
    

    --pcol: var(--purple) 
    --bgcol: var(--dark-black)
    --slctcol var(--purple)
    --scol: var(--purple-light)
    --tcol: var(--purple-dark)
    --bgcol-rgb: var(--dark-black-rgb)
    --txtcol: var(--dark-white)    
    --s-std-weight: 300 
    --s-bold-weight: 600 

    --s-line-space:  1.61

    --tfont: "Mazius Display Italic"
    --qfont: "Mazius Display Extra Italic"

    --p-std-weight: normal 
     

    --fa-primary-color: var(--txtcol)
    --fa-secondary-color: var(--pcol) 
    --fa-secondary-opacity: 1
    --slctcol var(--purple-light)   

    --lum: 30%;

    --magenta:#FF2079
    --magenta-light: #FF4B93
    --magenta-dark: #C21359 
    --magenta-hlight: rgba(242, 41, 85,.3)
    --pcol: var(--magenta) 
    --slctcol var(--magenta)
    --scol: var(--magenta-light)
    --tcol: var(--magenta-dark)

    footer 
        --fa-primary-color var(--bgcol)

@css {
:root{
    --purple-hsl: var(--purpleh),var(--purples),var(--purplel);
    --purple-rgb: var(--purpler),var(--purpleg),var(--purpleb)
}
}

/*------------DARK MODE------------*/

[data-theme = "light"]
    --s-std-weight: 400
    --s-bold-weight: 700
    --s-line-space:  1.6 
    --txtcol: var(--light-black)
    --bgcol: var(--light-white)
    --bgcol-rgb: var(--light-white-rgb)
    --lum: 70%;  

    --scol: var(--purple-dark)
    --tcol: var(--purple-light)
    --scol: var(--magenta-dark)
    --tcol: var(--magenta-light)


[data-font = "sans"]
    --sfont: 'Verdana'
    --pfont: 'Open Sauce Sans'


html
    content: "light"
@media screen and (prefers-color-scheme: dark)
    html
        content: "dark"