
pycol = var(--py-col)
sycol = var(--sy-col)
tycol = var(--ty-col)
textcol = var(--txt-col)

pfont = var(--p-std-font)
sfont = var(--s-std-font)
tfont = var(--t-std-font)
qfont = var(--q-std-font)

py-col-rgb = var(--py-col-rgb)

/*------------------- MEDIA QUERY MIXINS -----------------*/
widerthan(var)
   condition = 'screen and (min-width: %s)' % var
   @media condition
      {block}

narrowerthan(var)
   condition = 'screen and (max-width: %s)' % var
   @media condition
      {block}
        
/*------------------- ACCESSIBILITY -------------------*/
.elmnt-invis 
   position: absolute !important;
   height: 1px; width: 1px; 
   overflow: hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);


/*
------------------- RESET DEFAULTS ------------------- */
a
   color: var(--p-col-w)
   text-decoration: none

button
   background: none;
   border: none;
   margin 0
   padding: 0
   
/*------------------- GLOBAL STYLING -------------------*/  

html
   scroll-behavior: smooth;

* 
   // cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;
   // cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur817.cur), auto !important;
   // cursor: url(http://cur.cursors-4u.net/cursors/cur-6/cur568.cur), auto !important;
   // cursor: url(/cursor.png), auto !important 
   // cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur195.cur), auto !important;
   font-family: sfont
         
   margin: 0
   padding: 0 
   cursor: url(ex.svg) 16 16, auto
   box-sizing: border-box 

body, main, footer,header 
   transition: background-color ease-out 400ms
   background-color: var(--bg-col) 

   &::selection, &::-moz-selection
      background-color var(--slct-col) 


.saturate
   filter: sepia(2%)

h1, h2, h3, h4, h5, h6, figcaption, p, li, a, button, #summary, small,label
   color: textcol
   transition: color ease-out 400ms
   
h1,   h3 
   font-family: var(--p-std-font), serif
   font-weight: 400 

p,li, a 
   font-family: var(-s-std-font), sans-serif
   font-weight: var(--s-std-weight)
   // text-rendering: optimizeLegibility

h1 
   font-size: 7.5rem
h2
   font-family: var(--q-std-font), serif
   font-weight: 400 
   font-size: 3.0rem
h3
   font-family: var(--p-std-font), serif
   font-weight: 400 
   line-height: 1.2em
h4
   font-family: var(-s-std-font), sans-serif
   margin-bottom: 0.5rem
   font-weight: var(--s-bold-weight)
   font-size: 1.2rem
   margin-top: 0
   padding-top: 1rem
small
   font-size: 0.8em
strong
   font-weight: var(--s-bold-weight)
   color: sycol  
em
   font-style:italic
p,li
   font-size 1.1rem
   // font-we
   line-height: var(--s-line-space)
   +narrowerthan(500px)
      font-size: 1rem
      line-height: 1.4rem


ul 
   padding-left: 0em;
   margin-top: 0.2rem
   margin-bottom: 0.5rem
   list-style-type none 
ol
   padding-left: 0em;
   margin-top: 0.2rem
   margin-bottom: 0.5rem
   margin-left: 1.3rem

li
   padding-bottom: 0.4rem
      
   span,i 
      box-sizing: border-box
      margin-right: 0rem   
      min-width  2rem

      &:before,&:after
         width 40px
img
   display block
main
   // margin-top: 2rem
   padding-bottom: 4rem

#project
   h1
      font-size: 9rem
      z-index 2

      +narrowerthan(1300px)  
         font-size: 10vw     

      +narrowerthan(800px)   
         font-size: 13vw

      +narrowerthan(500px)   
         font-size: 15vw

   h2 
      font-size:  3.25rem
      +narrowerthan(900px)
         font-size: 2.2rem

   h3
      font-size: 2.25rem
      +narrowerthan(900px)
         font-size: 1.7rem

   #summary   
      font-size: 1.5em

      line-height: 1.4em
      min-height: 0; 
      min-width: 0;
      *
         overflow: hidden; 
         min-width: 0;      
      +narrowerthan(550px)
         font-size: 1.15rem
         line-height: 1.3rem
   #cover-image
      figcaption
         margin-top:  0.5rem

      z-index 1
      img
         width 100%
    
.before-place-holder
   &::before 
      content: " "
      width: 1px;
      height: 3rem     

.in-txt
   background:linear-gradient(to bottom, pycol 0%, tycol 100%);
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 2.1px 2.1px;
   text-decoration: none;
   transition: background-size .15s ease-out
   cursor: url(plus.svg) 22.5 23, auto

   &:hover, &:focus, &.active
      background-size: 2.1px 100%;

   &.nav-item
      background:linear-gradient(to right, pycol 0%, tycol 100%);
      background-size: 2.1px 2.1px;`

      background-repeat: repeat-y

      &:hover,&:focus&.active
         background-size: 100% 2px;


.intra-page  
   background:linear-gradient(to bottom, pycol 0%, tycol 100%);
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 2px 2px;
   text-decoration: none;
   transition: background-size .25s ease-out
   cursor: url(plus.svg) 22.5 23, auto

   &:hover, &:active, &:focus
      background-size: 2px 1.25em;


input[type=radio] + label 
   padding 0.3rem .8rem
   border solid 1.75px var(--py-col)
   border-radius: .5em
   margin: 0.5rem
   // height 1.1em
   // box-sizing: border-box
   // background:linear-gradient(to bottom, pycol 0%, tycol 100%);
   // background-position: 0 100%;
   // background-repeat: repeat-x; 
   // background-size: 2px 2px;
   // text-decoration: none;
   // transition: background-size .25s ease-out
   transition: ease-out 350ms all 
input[type=radio]:checked + label ,input[type=radio] + label:hover 
   // background-size: 2px 1.25em;
   background-color var(--py-col)
   cursor: url(plus.svg) 22.5 23, auto


.model-3d
   margin auto, auto

main#about
   h1
      line-height: 1em
      
   h2
      font-size: 2.5rem



[data-src].element-item::before 
   content: '';
   display: block;
   padding-top: 80%;    

::selection
   background  tycol 

.coll
   transition: max-height 0.3s ease-out;
   max-height: 0;
   overflow: hidden
   // color:
.coll-button
   font-size: 1rem
   color: var(--py-col) 

.toread{
   overflow: hidden; 
   height: 3.6rem;
}
input.read:checked + .toread {
   height: auto;
}

#portfolioFilter
   p.break
      line-height: 1.05em
      margin 1rem 0
img.lazy
   opacity: 0;
   &:not(.initial)
      transition: opacity 1s;

   &.initial,
   &.loaded,
   &.error 
      opacity: 1;

   &:not([src])
      // visibility: hidden;

#poweredby
   margin-left: auto
   margin-right: auto  
   box-sizing: border-box
   justify-content: center
   flex-direction: column  
// justify-items: center

a,button
   cursor: url(plus.svg)22.5 23, auto

   &.fa,&.fab,&.fad
      transition: color 200ms ease-out  
      color: var(--txt-col)
      // width 40px


      &:after,&:before,&::before ,&:after
         vertical-align: middle 

      &:hover
         color: var(--py-col)
   // &:hover
   //    cursor: url(plus.svg) 12.02 12.02, auto

span
   &.fa,&.fad,&.far,&.fab
      font-size: 1.1em
      padding-top: 0.2em 
      display: flex
      justify-content: center
      justify-items: center
      flex-shrink: 0
      width 2.5rem

      &:after,&:before,&::before,&::after
         display inline
         
         text-align: center
         // vertical-align:  baseline
         // align-items: baseline
      // margin-left: auto
      // margin-right: auto
      

.slick-next
   font-size: 0
   font-family: "Font Awesome 5 Pro"
   width: 50%
   position absolute
   top: 0
   right: 0
   left auto
   z-index: 5
   transition: all ease-out 100ms
   background: black
   height 100%
   opacity 0  

   +narrowerthan(1400px)
      top: 50%
      left: auto
      right 0 
      z-index: 5
      border-radius: 0.3rem
      padding: 0.3rem
      margin 0.3rem
      width: 5rem
      border-radius: 0.3rem
      font-weight: bold            
      padding: 0.3rem
      margin 0.3rem
      transition: all ease-out 100ms
      
      &::after 
         font-size: .9rem
         content ""  
         opacity 50%
         font-size: 2.2rem
         color: var(--ty-col)
         transition: all 150ms ease-out
      &:hover::after
         // font-size: 1.1em
         opacity 100%
 
@css {
.slick-prev{
   cursor: url(left.svg) -120 -17,crosshair;
   }
}  
@css {
.slick-next{
   cursor: url(right.svg) 120 -17,crosshair;
   }
}           
.slick-prev
     
   font-size: 0
   font-family: "Font Awesome 5 Pro"
   width: 50%
   position absolute
   top: 0
   left: 0
   right auto
   z-index: 5
   transition: all ease-out 100ms
   background: black
   height 100%
   opacity 0  
   // &:active
   //    cursor: grabbing, auto  

   +narrowerthan(1400px)
      width: 5rem
      padding: 0.3rem
      margin 0.3rem
      border-radius: 0.3rem
      height auto

      background: transparent
      &::after 
         opacity 50%
         // font-weight: 300      
         font-size: .9rem
         content ""
         content ""
         font-size: 2.2rem
         color: var(--ty-col)
         transition: all 150ms ease-out
      &:hover::after
         // font-size: 1.1em 
         opacity 100%
.fourofour 
   h1
      line-height: 0

.colorH
   color: textcol
   &:hover
      color: var(--py-col)

.credits
   padding 0em 2.5rem 0.5em 0rem 