
pycol = var(--pcol)
sycol = var(--scol)
tycol = var(--tcol)
textcol = var(--txtcol)

pfont = var(--pfont)
sfont = var(--sfont)
tfont = var(--tfont)
qfont = var(--qfont)

pcol-rgb = var(--pcol-rgb)

/*------------------- MEDIA QUERY MIXINS -----------------*/
widerthan(var)
   condition = 'screen and (min-width: %s)' % var
   @media condition
      {block}

narrowerthan(var)
   condition = 'screen and (max-width: %s)' % var
   @media condition
      {block}
        

/*
------------------- RESET DEFAULTS ------------------- */
a
   color: var(--p-col-w)
   text-decoration: none

button
   background: none;
   border: none;
   margin 0
   padding: 0
   
/*------------------- GLOBAL STYLING -------------------*/  

html
   scroll-behavior: smooth;
   cursor: url(ex.svg) 16 16, auto


*
    font-family: var(--sfont), "Palatino Linotype" ,serif
    font-display: swap
    margin: 0
    padding: 0 
    cursor: url(ex.svg) 16 16, auto
    box-sizing: border-box 
    transition: background-color ease-out 400ms, color ease-out 400ms

       
body,footer,header 
   background-color: var(--bgcol) 
   &::selection, &::-moz-selection
      background-color var(--slctcol) 


h1, h2, h3, h4, h5, h6, figcaption, p, li, a, button, #summary, small,label, mark, div, span
   color: textcol
   
h1,h2,h3,h4,h5,h6,.big, p,.med, li,figcaption,.email
   // +narrowerthan(1200px)
   opacity: 90% 
   transition: opacity ease-out 200ms
   &:hover,&:focus
      opacity: 95% 

p,li, a 
   font-weight: var(--s-std-weight) 
   letter-spacing: .35px;

p
   // text-indent: 1rem
   margin-bottom: 1rem   
   max-width 50ch

p,li,span
   font-size 1.1rem
   // font-size 1.1rem
   // font-weight: 600
   line-height: 1.5
   +narrowerthan(500px)
      font-size: 1rem
      line-height: 1.5 


h1 
   font-weight: 400 
   font-family: var(--pfont), serif
   font-size: 7.5rem
h2
   font-family: var(--qfont), serif
   font-weight: 400 
   font-size: 3.0rem
   // text-transform: uppercase
   
   +narrowerthan(900px)
      font-size: 1.7rem

h3
   font-family: var(--pfont), serif 
   font-weight: 400 
   line-height: 1.2
   font-size: 5.063em

   +narrowerthan(900px)
      font-size: 2.27rem



h4
   font-family: var(--tfont), "Times New Roman" serif
   font-weight: 400
   font-size 3.375rem

   margin-bottom: 0.5rem
   margin-top: 0
   padding-top: 1rem

   +narrowerthan(900px)
      font-size: 1.75rem

h5
   font-size: 2rem
   font-family: var(--pfont), sans-serif
   font-weight: 400 
   line-height: 1.45
   margin-bottom: .1em
   margin-top: .2em


h6
   font-family: var(--sfont), sans-serif

   font-size 1.5rem

small 
   font-size: 0.8em
   max-width 50ch 

figcaption
   font-size: .9em
   

mark
   // font-weight: var(--p-bold-weight)
   transition all 300ms ease-in-out
   transition-delay: .4s
   background-color:var(--bgcol); 
   border-radius: .3em
   border-left  var(--bgcol);
   border-right  var(--bgcol);
   background-clip: padding-box;

   +narrowerthan(1400px)
      background-color:  rgba(210,41,235,.25); 
      border-color rgba(210,41,235,.25);
      transition-delay: 0s

   background-color:  rgba(210,41,235,.25); 
   border-color rgba(210,41,235,.25);

// section:hover mark
   


em
   font-style italic

   
ul 
   padding-left: 0em;
   margin-top: 0.2rem
   margin-bottom: 0.5rem
//    list-style-type none 


ol li
   counter-increment: list;
   list-style-type: none;
   position: relative;
   // left: -2ch;
   &:before 
      margin-right: .5ch
      color: sycol
      font-size: .9em
      // font-family: "Verdana" 
      content: counter(list) ".";
      // position: absolute;
      text-align: right;
      width: 3ch;

li
   padding-bottom: 0.4rem


img
   display block

main
   padding-bottom: 4rem
   max-width 100vw
   // width 100% 


h1
   font-size: 9vw
   z-index 2 

   +narrowerthan(1400px)  
      font-size: 12vw     

   +narrowerthan(500px)   
      font-size: 15vw 

.big  
   text-indent: 0
   strong 
      font-weight: 700
   font-size: 2rem 
   line-height: 1.4
   min-height: 0; 
   min-width: 0;
   max-width 60ch
   font-weight: 400
   margin 1em 0
   +narrowerthan(1400px)
      font-size: 1.9rem
   +narrowerthan(500px)
      margin: 1rem 0
      // font-weight: bold 
      font-size: 1.2rem
      line-height: 1.3

   &.space
      margin 1em 0


.med

   text-indent: 0
   font-size: 1.8rem 
   line-height: 1.4
   min-height: 0; 
   min-width: 0;
   max-width 55ch 

   margin  1rem 0
   // &.quote
   //    opacity .85
      // margin: 
   +narrowerthan(1400px)
      font-size: 1.6rem 

   +narrowerthan(500px)
   
      margin: 1rem 0
      font-weight:   var(--s-bold-weight)
 
      font-size: 1.25rem
      line-height: 1.3


ul
   li
      max-width 50ch 
      margin-bottom: .5em

   
      &.space
         margin-bottom: 1em

ol  
   li
      margin-left: 2ch
      &:before
         margin-left: -2ch

      max-width 50ch 
      &.big, &.med, &.small 
         margin-left: 2ch
      &:before
         margin-left: -2ch
   &.space
      li
         margin-bottom: .5em

#cover-image
   z-index 1
   margin-top: 1rem
   figcaption
      margin-top:  0.5rem
      padding-left: 1rem
   img
      width 100%
      max-width 100vw

#summary
   padding .5em 0 

hr
   width 40vw
   margin 3rem auto
   border-color: var(--pcol)
   &.small
      width 15vw
      border-color: var(--txtcol)

.in-txt
   border-radius: .3em
   border solid transparent
   border-width: medium 
   background-clip: padding-box;
   transition: background-color ease-out 200ms, border-color ease-out 200ms 
   cursor: url(trg.svg) 22.5 23, auto
       
   &:hover, &&:focus
      background-color: rgba(210,41,235,.3);

   &:after
      content: "º"
      color: pycol 
      position relative



.intra-page  
   background:linear-gradient(to bottom, pycol 0%, tycol 100%);
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 2px 2px;
   text-decoration: none;
   transition: background-size .25s ease-out
   cursor: url(trg.svg) 22.5 23, auto

   &:hover, &:active, &:focus
      background-size: 2px 1.25em;

::selection
   background  tycol 

.coll-button
   font-size: 1rem
   color: var(--pcol) 


#portfolioFilter
   p.break
      line-height: 1.05
      margin 1rem 0

img.lazy
   opacity: 0;
   &:not(.initial)
      transition: opacity 1s;
   &.initial,
   &.loaded,
   &.error 
      opacity: 1

a,button
   cursor: url(trg.svg)22.5 23, auto

   &.fa,&.fab,&.fad
      transition: color 200ms ease-out  
      color: var(--txtcol)

      &:after,&:before,&::before ,&:after
         vertical-align: middle 

      &:hover, &&:focus
         color: var(--pcol)

span, .email
   &.fa,&.fad,&.fab,&.fas
      font-size: .9em
      // padding-top: 0.2em 
      // display: flex
      justify-content: center
      justify-items: center
      flex-shrink: 0
      width 2.75ch
      padding-right: .5rem 

      &:after,&:before,&::before,&::after
         display inline 
         text-align: center

i
   &.fa,&.fad,&.fab,&.fas
      padding 0  5px

p i
   &.fa,&.fad,&.fab,&.fas
      display: inline         



@css {
.slick-prev{
   cursor: url(left.svg) -120 -17,crosshair;
   }
}

@css {
.slick-next{
   cursor: url(right.svg) 120 -17,crosshair;
   }
}  

.slick-next, .slick-prev
   font-size: 0
   font-family: "Font Awesome 5 Pro"
   width: 50%
   position absolute
   top: 0
   z-index: 5
   transition: opacity ease-out 100ms
   background: black
   height calc(100% - 1.25rem)
   opacity 0  
   +narrowerthan(1400px)
      top: 50%
      z-index: 5
      border-radius: 0.3rem
      padding: 0.3rem
      margin 0.3rem
      width: 5rem
      border-radius: 0.3rem
      font-weight: bold            
      padding: 0.3rem
      margin 0.3rem
      
      &::after 
         font-size: .9rem
         opacity 50%
         font-size: 2.2rem
         color: var(--tcol)

      &:hover::after , &&:focus:after
         opacity 100%

.slick-next
   right 0 
   left auto

   &::after 
      content ""  



.slick-prev
   left: 0
   right auto
   &::after 
      content ""
      
.slick-dots
   display: flex
   justify-content: center
   margin-top: -1.75em
   position relative
   li
      font-size: 0
      // vi
      line-height: unset
      margin: 0 .75rem
      &:before 
         color: var(--pcol)
         margin .25rem
         font-size: .9rem 
         font-family: "Font Awesome 5 Pro"
         content "\f111"
         // opacity 50% 
         font-weight: 300
      &.slick-active:before      
         opacity 100%
         font-weight: 900
         color: var(--pcol)



.colorH
   color: textcol

   &:hover, &&:focus
      color: var(--pcol)

.credits
   padding 0em 2.5rem 0.5em 0rem 
