
pycol = var(--py-col)
sycol = var(--sy-col)
textcol = var(--txt-col)

pfont = var(--p-std-font)
sfont = var(--s-std-font)
tfont = var(--t-std-font)
qfont = var(--q-std-font)

py-col-rgb = var(--py-col-rgb)

/*------------------- MEDIA QUERY MIXINS -----------------*/
widerthan(var)
   condition = 'screen and (min-width: %s)' % var
   @media condition
      {block}

narrowerthan(var)
   condition = 'screen and (max-width: %s)' % var
   @media condition
      {block}
        
/*------------------- ACCESSIBILITY -------------------*/
.elmnt-invis 
   position: absolute !important;
   height: 1px; width: 1px; 
   overflow: hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);


/*
------------------- RESET DEFAULTS ------------------- */
a
   color: var(--p-col-w)
   text-decoration: none
button
   background: none;
   border: none;
   margin 0
   padding: 0
   
/*------------------- GLOBAL STYLING -------------------*/  

html

*
   font-family: sfont
   // font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "ss06"


body, main, footer,header
   background-color: var(--bg-col) 
   &::selection, &::-moz-selection
      background-color var(--slct-col)


.saturate
   filter: sepia(50%)

h1, h2, h3, h4, h5, h6, figcaption, p, li, a, button, #summary, small
   color: textcol
   
h1,   h3 
   font-family: var(--p-std-font)
   font-weight: 400 

p,li, a 
   font-family: var(-s-std-font)
   font-weight: var(--s-std-weight)

h1 
   font-size: 7.5rem
h2
   font-family: var(--p-std-font)
   font-weight: 400 
   font-size: 3.0rem
   // line-height: 1.4em     
h3
   font-family: var(--q-std-font)
   font-weight: 400 
   font-size: 2rem
   line-height: 1.4em
h4
   font-family: var(-s-std-font)
   margin-bottom: 0.5rem
   font-weight: 500
   font-size: 1.2rem
   margin-top: 0
   padding-top: 1rem
small
   font-size: 0.8em
#summary
   font-size: 1.25em
p
   font-size 1.05rem
   line-height: 1.4rem


ul 
   list-style-type none 
   padding-left: 0em;
   margin-top: 0.2rem
   margin-bottom: 0.5rem

   li
      line-height: 1.4rem
      padding-bottom: 0.4rem
      font-size: 1.05em
       
      span 
         box-sizing: border-box
         margin-right: 0rem   
         font-size: 1.2em   
         min-width  2rem

         &:before,&:after
            width 40px

main
   margin-top: 5rem

#project
   h1
      font-size: 7.5rem
      z-index 2

      +narrowerthan(1300px)  
         font-size: 10vw     

      +narrowerthan(800px)   
         font-size: 13vw

      +narrowerthan(500px)   
         font-size: 15vw
   h2 
      font-size: 3.25rem

      +narrowerthan(900px)
         font-size: 3rem 
   h3
      font-size: 2rem

   #summary  
      line-height: 1.5em
      min-height: 0; 
      min-width: 0;
      *
         overflow: hidden; 
         min-width: 0;      
      +narrowerthan(550px)
         font-size: 1.15rem
   #cover-image
      
      z-index 1
      img
         width 100%

.maskable
   object-fit: cover
   width: 100%

.proj-img
   margin 0 

.before-place-holder
   &::before 
      content: " "
      width: 1px;
      height: 3rem     

a.in-txt, button.in-txt
   background:linear-gradient(to bottom, pycol 0%,pycol 100%);
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 2px 2px;
   text-decoration: none;
   transition: background-size .25s

   &:hover, &.active
      background-size: 2px 1.05em;

   &.nav-item
      background-repeat: repeat-y

      &:hover,&.active
         background-size: 1em 1px;


.model-3d
   margin auto, auto

main#about
   h1
      line-height: 1em
      
   h2
      font-size: 2.5rem


main#posterjam

hr
   height 0.1rem
   position: relative
   box-sizing: border-box
   width: 8vw
   padding 0
   display inline
   border solid var(--txt-col) 1px 
