widerthan(var)
   condition = 'screen and (min-width: %s)' % var
   @media condition
      {block}

narrowerthan(var)
   condition = 'screen and (max-width: %s)' % var
   @media condition
      {block}

#project

   margin-left: 3.6vw
   margin-right: 3.6vw
   grid-gap: 1rem
   margin-top: 3rem
   +narrowerthan(1550px)
      margin-left: 2vw
      margin-right: 2vw
      margin-top: 4rem
   +narrowerthan(1000px)
      margin-right: 8vw
      margin-left: 8vw
      margin-top: 2rem
   +narrowerthan(800px)
      margin-right: 8vw
      margin-left: 8vw
      margin-top: 1rem


   h2,h3
      margin: 0
   figure 
      margin: 1rem 0 2rem 0
      flex-wrap: wrap     
                     
       
      div
         display: flex
      figcaption 
         // text-align: center
         width: 100%
         margin-top:  0.5rem

      img
         // flex-basis: 10%
         // flex-grow: 1
         object-fit: cover   
         // width: 100%
         // height auto
         // height 

         max-width: 100%
         // max-height: 100%
         display: block
         margin-left: auto
         margin-right: auto

   section 
      margin-bottom: 2rem
      overflow: none
      grid-gap: 1rem
      p
         align-self: start 
         margin-top: 0
         margin: 0
   #overview
      #cover-image
         
         // +narrowerthan(1400px)
         //    width: 100vw;
         //    position: relative;
         //    // top: -3rem
         //    // left: -3vw;
         //    // left 0
         //    // right:0
         //    left: -2vw


         // // +narrowerthan(1550px)
         // +narrowerthan(1000px)
      
         //    left: -8vw

         img
            object-fit: cover
            height 100%
            width: 100%
            max-height: 88vh
         grid-column: 1/-1
         margin: 0
         
      h1,
      h2,h3  
         grid-column: 2/18
         margin 0
         align-self: end
         height: min-content
         display inline
      h2
         margin-top: 3rem

      #summary
         // grid-row: 4/span 1 
         grid-column: 2/-2
         grid-column-start: 4
         +narrowerthan(1850px)
               grid-column-end: span 8
      +narrowerthan(1000px)
         .main-heading,#summary,h2,h3
               grid-column-start:1
         #summary,h2,h3
               grid-column-end: span 10
         #cover-image
               grid-column-end: -1
      +narrowerthan(850px)
         .main-heading,#summary,h2,h3
               grid-column-start:1
         #summary,h2,h3
               grid-column-end: 18
         #cover-image
               grid-column-end: -1  
               grid-column-start: 1
   iframe
      min-height: 70vh   
      max-height: 80vh
      width 100%
  

   h2, h3,h4
      grid-column-end: span 10
      +narrowerthan(1000px)
         grid-column-end: span 8
      +narrowerthan(900px) 
         grid-column-end: span 10 
      +narrowerthan(850px)
         grid-column-end:  18

   h2,h3,h4,p,figure, #hierarchy div , div, ul,ol,iframe
      &.l-sect    
         grid-column-start: 2
      &.ml-sect
         grid-column-start: 4
      &.m-sect
         grid-column-start: 7
      &.mr-sect
         grid-column-start: 9
      &.r-sect
         grid-column-start: 11
      +narrowerthan(1000px)
         &.l-sect    
            grid-column-start: 1
         &.ml-sect
            grid-column-start: 3
         &.m-sect
            grid-column-start: 6
         &.mr-sect
            grid-column-start: 10
         &.r-sect
            grid-column-start: 12
      +narrowerthan(900px)   
         &.l-sect    
            grid-column-start: 1
         &.ml-sect
            grid-column-start: 1
         &.m-sect
            grid-column-start: 4
         &.mr-sect
            grid-column-start: 9
         &.r-sect
            grid-column-start: 9  
   +narrowerthan(850px)
      h3,h4,p,figure, #hierarchy div , div, ul,ol,iframe
         &.l-sect,    
         &.ml-sect,
         &.m-sect,
         &.mr-sect,
         &.r-sect
            grid-column-start: 2
   +narrowerthan(650px)
      h2,h3,h4,p,figure, #hierarchy div , div, ul,ol,iframe
         &.l-sect    
         &.ml-sect
         &.m-sect
         &.mr-sect
         &.r-sect
            grid-column-start: 1
            grid-column-end:  18
 
   .l-sect
   .r-sect
   .ml-sect
   .m-sect
   .mr-sect
      //   margin-bottom: 1.25rem 
      grid-column-end: span 8

   +narrowerthan(1300px) 
         .l-sect
         .ml-sect
         .m-sect
         .mr-sect
            grid-column-end: span 8
         .r-sect
            grid-column-end: 18
   +narrowerthan(1000px) 
         .l-sect
         .ml-sect
         .m-sect
         .mr-sect
            grid-column-end: span 10


    // +narrowerthan(1000px)
    // +narrowerthan(900px)
    // +narrowerthan(850px)
    // +narrowerthan(650px)
    // +narrowerthan(900px)
   +narrowerthan(850px)
      .l-sect, .ml-sect, .m-sect, .mr-sect, .r-sect
         grid-column-end: span 12
   +narrowerthan(650px)
      .l-sect, .ml-sect, .m-sect, .mr-sect, .r-sect
         grid-column-end: 18
         padding-right: 1rem 

   figure, iframe 
      &.l-sect
      &.ml-sect
      &.m-sect
      &.mr-sect
      &.r-sect
         grid-column-end: span 9
         +narrowerthan(1080px)
            grid-column: 2/-2 
         +narrowerthan(650px)
            grid-column-end: 18

      &.lr-sect
         grid-column 2/-2

      &.mlmr-sect             
         grid-column 4/16

         +narrowerthan(1080px)
            grid-column: 2/-2 
         +narrowerthan(650px)
            grid-column 1/-1

      img
         max-height: 150vh