.styl-gd
    h1.main-heading
        text-align: center;
        color: var(--magenta)

    h2 
        grid-column: 2/span all !important
    div
        h1.main-heading
            text-align: left 
            color: var(--txtcol)
    #palette
        box-sizing: border-box
        width: vqvw
        display: flex
        // text-align: center
        // margin-left: auto
        // margin-right: auto  
        // align-content: center
        // align-items: center; 
        // justify-content: center; 
        // grid-template-columns: 1fr 1fr 1fr 
        grid-column: 1/span all
        // grid-column-gap: 10vw
        flex-wrap: wrap
    h1:first-child
        text-align: center
    .pal-col
        margin: 1rem
        box-sizing: border-box

        border solid grey 3px
        border-style: dashed
        height: 5rem;
        flex-grow: 0
        flex-basis: 30%
        h1,h2,h3,h4,h5,h6
            margin-top: 0
            margin-bottom: 0.4em
        &:first-child
            background-color: var(--magenta)
        &:last-child
            background-color: var(--light-black)
        &:nth-child(2)
            background-color: var(--light-white)
        &:nth-child(3)
            background-color: var(--magenta-light)
        &:nth-child(4)
            background-color: var(--magenta-dark)
        &:nth-child(5)
            background-color: var(--dark-white)
        &:nth-child(6)
            background-color: var(--dark-black)
    #hierarchy
        h1, h2, h3, p
            margin-bottom 0.2em

    section
        opacity: 0;
        transition: opacity 1s;
        &.visible
            opacity: 1;