widerthan(var)
   condition = 'screen and (min-width: %s)' % var
   @media condition
      {block}

narrowerthan(var)
   condition = 'screen and (max-width: %s)' % var
   @media condition
      {block}

main#about
    grid-column-gap: 8rem 
    margin: 13vh 13vw 2rem 12vw 
    +narrowerthan(900px)
        margin-top: 4vh
        text-overflow: none 
    +narrowerthan(1050px)
        grid-gap: 2rem
    +narrowerthan(900px)
        margin-left: 5vw
        margin-right: 10vw
    +narrowerthan(450px)
        grid-gap: 1rem

        margin-left: 1rem
        margin-right: 2.5rem
        font-size: 0.9rem
    h2
        margin-bottom: 1rem
        font-size: 2rem
    ul 
        list-style-type none  
        padding-left: 0;
        margin-top 1rem
    div.main-heading
        max-width 100%
    #email
        display: none   

    section
        &.grid
            grid-template-columns: 15vw 1fr
            grid-row-gap: 0.6rem
            // +widerthan(1080px)
            //     margin-left: 15rem
            +narrowerthan(900px)
                grid-template-columns: 1fr   
            p,ul
                overflow: hidden
                width auto 
                min-width 0
                grid-column-start: 2
                +narrowerthan(900px)
                    grid-column-start: 2   

            h1,h2
                grid-column-start: 2
                            
    
    .main-heading
        max-width 84vw
        display: flex
        // display: grid
        flex-wrap: wrap
        grid-template-columns: 15vw 1fr
        grid-column-start: 1
        grid-column-end: span all 
        p
            grid-row: 2/3
            order 2
            width 30rem 
            margin 0.5rem 0rem  
            max-width 90vw
            +narrowerthan(800px)
                order 3
                font-size: 1rem
        h1
            grid-row: 2/3
            order 1
            min-width 15vw
    img.prof
        grid-row: 1/2
        object-fit: cover 
        width: calc(100%-5rem)
        box-sizing: border-box 
        max-width: 15vw
        max-height: 8rem
        margin-bottom: 1rem
        order 3
        +narrowerthan(750px)
            order 2
    h1,h2,h3,h4
        margin 0
    ul
        list-style-position: inside;
        li
            line-height: 1.5rem
            margin-bottom: 0.5rem
            width 28rem
            max-width 84vw
    // #references
    //     li
    //         font-size: 0.95em
    //     grid-column-start: -1
    //     +narrowerthan(1100px)  
    //         grid-column-start: 1