main#about

   justify-content: end  
   h1, h2
      // margin: 0
      // padding 0
      // align-self: end
   h2
      margin-bottom: 1rem
      // font-size: 3rem

   ul 
      list-style-type none 
      padding-left: 0;
      li  
         // line-height: 1.2rem
         // padding-bottom: 0.5rem
   #references
      // grid-column: span 4/ 13
      justify-self: end
      flex-wrap: wrap
div.main-heading
   max-width 100%
   p
      width 25rem 
#email
   display: none   