@keyframes changeLetterToDark 
  0% 
    content: "\f1d1";
  50% 
    color magenta
  
  100% 
    content: "\f50e";
  

@keyframes changeLetterToLight 
  0% 
    content: "\f50e";
  50% 
    color: magenta
  100% 
    content: "\f1d1";  
