
/*
-------------------VARIABLES------------------
*/
:root
    --magenta:#FF2079
    --purple:#DB00FF
    --grey:hsl(0,0%,20%)
    --white:hsl(0, 0%, 98%);
    --black:hsl(0, 0%, 13%)

    --bg-col: var(--white)
    --txt-col: var(--black)
    --sy-col: var(--purple)
    --py-col: var(--magenta)

    --mobileP: 400px
    --mobileL: 768px
    --laptopMDPI: 1280px
    --laptopHiDPI: 1440px

    --p-std-font: "Mazius Display Regular"
    --s-std-font: "Space Grotesk"
    --t-std-font: "Mazius Display Italic"
    --q-std-font: "Mazius Display Extra Italic"

    --p-std-weight: normal
    --s-std-weight: bold
[data-theme = "dark"]
    --bg-col: var(--black)
    --txt-col: var(--white)
    

/*------------DARK MODE------------*/

