file(name, ext, path)
   path + '/' + name + '.' + ext

font-face(family, font=family, path='.../webfonts', weight='normal', style='normal')
   @font-face
      font-family family
      font-weight weight
      font-style style 
      src url(file(font, 'woff2', path)) format("woff2"),
         url(file(font, 'woff', path)) format("woff") 
            
   /* ///////////////FONTS///////////////////// */

// url(file(font, 'otf', path)) format("opentype"),


font-face(HK Grotesk, HKGrotesk-Light, "/webfonts/WEB/", 300, normal)
font-face(HK Grotesk, HKGrotesk-Regular, "/webfonts/WEB/", 400, normal)
font-face(HK Grotesk, HKGrotesk-Medium, "/webfonts/WEB/", 500, normal) 
font-face(HK Grotesk, HKGrotesk-Bold, "/webfonts/WEB/", 700, normal) 

font-face(HK Grotesk,hkgrotesk-lightitalic, "/webfonts/WEB/", 300, italic)
font-face(HK Grotesk,hkgrotesk-italic, "/webfonts/WEB/", 400, italic)
// font-face(HK Grotesk, HKGrotesk-SemiBold, "/webfonts/WEB/hk-grotesk", 600, normal)   
// font-face(Space Grotesk, SpaceGrotesk-Regular, "/webfonts", 400, normal)
// font-face(Space Grotesk, SpaceGrotesk-Medium, "/webfonts", 500, normal)
// font-face(Space Grotesk, SpaceGrotesk-SemiBold, "/webfonts", 600, normal)
// font-face(Space Grotesk, SpaceGrotesk-Bold, "/webfonts", 700, normal) 
// font-face(Space Grotesk, SpaceGrotesk-Light, "/webfonts", 300, normal)
