      file(name, ext, path)
         path + '/' + name + '.' + ext

      font-face(family, font=family, path='.../webfonts', weight='normal', style='normal')
         @font-face
            font-family family
            font-weight weight
            font-style style 
            src url(file(font, 'otf', path)) format("opentype"),
               url(file(font, 'woff2', path)) format("woff2"),
               url(file(font, 'woff', path)) format("woff") 
            
   /* ///////////////FONTS///////////////////// */




   font-face(Space Grotesk, SpaceGrotesk-Light, "/webfonts", 300, normal)
   font-face(Space Grotesk, SpaceGrotesk-Regular, "/webfonts", 400, normal)
   font-face(Space Grotesk, SpaceGrotesk-Medium, "/webfonts", 500, normal)
   font-face(Space Grotesk, SpaceGrotesk-SemiBold, "/webfonts", 600, normal)
   font-face(Space Grotesk, SpaceGrotesk-Bold, "/webfonts", 700, normal) 

   font-face(HK Grotesk, hkgrotesk-light-webfont, "/webfonts", 300, normal)
   font-face(HK Grotesk, hkgrotesk-regular-webfont, "/webfonts", 400, normal)
   font-face(HK Grotesk, hkgrotesk-medium-webfont, "/webfonts", 500, normal)
   font-face(HK Grotesk, hkgrotesk-light-webfont, "/webfonts/hk-grotesk", 600, normal)
   font-face(HK Grotesk, hkgrotesk-light-webfont, "/webfonts", 700, normal)  