widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}

footer 
    ul 
        display: flex
        justify-content:   center
        flex-wrap: wrap
        li
            margin: 0.8rem 1rem  
            // margin-right: 1rem
    margin-right: 10vw
    text-align: center
    // display: flex
    justify-content: center
    align-items: center
    p
        font-size: 0.9rem
        padding 1rem
        +narrowerthan(500px)  
            font-size: 0.7rem