footer 
   text-align: center
   display: flex
   justify-content: center
   align-items: center
   p
      // border-radius: 0.1rem
      // border: pycol solid 1px
      padding 1rem
   h1
      font-size: 5rem
      // width: min-content
