.flex-b{
display: flex
}
.grid
    display: grid

.index .grid-item
    display: grid
    grid-template-columns: repeat(20,5vw)
    grid-template-rows: 50% 50%
    // margin: 10vh 5vw
    a
        grid-column: 10/-2 
        img
    h1
        grid-column: 2/12

.index main
    display: grid
    grid-template k 