//////////////////////IMPORTS////////////////////////
      file(name, ext, path)
         path + '/' + name + '.' + ext

      font-face(family, font=family, path='fonts', weight='normal', style='normal')
         @font-face
            font-family family
            font-weight weight
            font-style style
            // src url(file(font, 'eot', path))
               // url(file(font, 'eot?#iefix', path)) format("embedded-opentype"),
            src url(file(font, 'otf', path)) format("opentype"),
               url(file(font, 'woff2', path)) format("woff2"),
               url(file(font, 'woff', path)) format("woff") 
            
   /////////////////FONTS///////////////////
   // font-face(Space Mono, SpaceMono-Regular,font, normal, normal)
   // font-face(Space Mono, SpaceMono-Bold, fonts, bold, normal)
   // font-face(League Spartan, LeagueSpartan-Bold, fonts, bold, normal)
   // font-face(Transport, Transport Heavy, fonts, normal, normal)
   // font-face(Space Grotesk, SpaceGrotesk-Bold, fonts, 700, normal)
   font-face(Space Grotesk, SpaceGrotesk-Regular, fonts,  400, normal)
   font-face(Space Grotesk, SpaceGrotesk-Medium, fonts,500, normal)
   font-face(Space Grotesk, SpaceGrotesk-SemiBold, fonts, 600, normal)
   // font-face("Mazius Display", MaziusDisplay-Regular,fonts, 400, normal)
   // font-face("Mazius Display Italic", MaziusDisplay-Italic,fonts, 400, normal)
   // font-face("Mazius Display Extra Italic", MaziusDisplay-ExtraItalic,fonts,400,normal) 
///////////////////VARIABLES/////////////////////
   :root{
      --bg-col-b: white
      --bg-col-d: #c4c4c4 
      --primary-col: #DB00FF 
      --secondary-col-b: white
      --secondary-col-w: black
      --unselectedCol-w: #999
      --bg-col: rgb(30,30,30) 
      --unselectedCol: #888888
      --mobileP: 400px  
      --mobileL: 768px
      --laptopMDPI: 1280px
      --laptopHiDPI: 1440px 
      --p-std-font: "Mazius Display Regular";
      --s-std-font: "Space Grotesk";
      --t-std-font: "Mazius Display Italic";
      --q-std-font: "Mazius Display Extra Italic";
      --p-std-weight: normal
      --s-std-weight: bold
      }
//////////////// MEDIA QUERY MIXINS////////////////
   widerthan(var) 
      --condition: 'screen and (min-width: %s)' % var
      @media --condition
         {block} 

   narrowerthan(var)
      --condition: 'screen and (max-width: %s)' % var
      @media --condition 
         {block}
    
////////////////////ACCESSIBILITY///////////////////////
.elmnt-invis {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
//////////////GLOBAL STYLING/////////////////  
   h1,   h3,   h4,   h5, figcaption 
      font-family: var(--p-std-font)
      font-weight: 400
   p
      font-family: var(--s-std-font)
   h2
      font-family: var(--t-std-font);
      font-weight: 400 
      // font-style: normal   
   header
      h1
         font-size: 2rem;
   h1
      font-size: 10rem
      // font-family: Mazius Display Extra Italic
      // font-weight: 400;
/////////////NAV STYLING///////////////////

.maskable
   object-fit: cover;
