widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}

opa = 100% 

#side-nav
   position: fixed
   top: 0
   right: 0
   bottom: 0rem
   margin 1rem
   z-index: 300
   
   +narrowerthan(450px)
      margin-right: 0.9rem
   +narrowerthan(375px)
      margin-right: 0.8rem

   display: flex
   
   align-items: center
   justify-content: space-between
   max-height: 100vh
   max-width: 100%
   #pull-up
      margin-top: 2rem
    //   opacity 0 
      transition: color .2s ease-out
      font-size: 2.5rem
      &:hover,&:focus
         color: var(--scol)
      z-index: inherit


nav 
   transition: top 0.3s ease; /* Transition effect when sliding down (and up) */
   font-weight: 300
   z-index 500
   margin-top: 1rem
   margin-bottom: 3rem
   margin 3rem 1rem 3rem 1rem
   padding:0rem
   display: grid
   grid-template-rows: 1fr
   // grid-template-columns: 1fr 1.5fr  
   // grid-template: auto auto
   display: flex
    

   justify-content: space-between
   margin-left: 5vw
   margin-right: 5vw

   a
      font-size: 01.05rem 
   min-height: 1.5rem

   .nav-holder
      
      align-items: last baseline
      align-self: last baseline
      z-index: inherit
      text-align: center
      overflow-wrap: none
      white-space: nowrap;
      // text-align: right 
      display: flex 
      justify-content: space-between 

   #nav-home   
      // margin-right: 40vw 
      // flex-basis 33%  
      // margin-right: auto
      z-index: inherit
      color: var(--txtcol)
      opacity opa
      transition: background-color 200ms ease-in
      align-self: last baseline
      line-height: 1.4
      margin-right: .4em
      height 100%

      // &:hover,&&:focus
      //    opacity 100%

   #desk-nav
      // flex-grow: 7
      align-items: last baseline
      align-self: last baseline
      z-index: inherit
      text-align: center
      overflow-wrap: none
      white-space: nowrap;
      flex-grow: 2
      text-align: right 
      display: flex 
      justify-content: space-between 

      // align-content: center
      // align-items: baseline

      #nav-links 
         min-width 1rem
         text-align: right 
         z-index: inherit

         a
            line-height: 1.4
            
            // height: 1.1rem
            color: var(--txtcol)
            margin: .9rem 0

            opacity opa
            transition: all  200ms ease-in
            // &:hover,&&:focus
            //    opacity 100%

   #nav-home, #nav-links a, #nav-theme-toggle label

      border-radius: .3em
      border solid transparent
      border-width: 4px 
      background-clip: padding-box;
      transition: background-color ease-out 200ms, border-color ease-out 250ms 
         
      &:hover, &&:focus, &.active
         background-color: rgba(210,41,235,.3);

      &:after
         // content: "°"
         font-feature-settings: "caps"
         color: var(--scol)
         // opacity 0
         // transition: background-color ease-in 100ms
         font-size: 1.0em  
         position relative 
         top: .2em
         margin-left: 3px

      // &:hover:after, &:focus:after, &:hover, &.active, &:focus
      //    opacity 100%

   #nav-theme-toggle
   &:after
      content: ""




//theme

   #nav-theme-toggle
      height 100% 
      display: flex 
      
      font-size: 01.05rem
      // align-self: last baseline
      &::after
         top -.5em 
         height 1em
         position static !important  
         margin-top: -.25rem  
   

   input#adjust[type=checkbox]
   input#mobile-input[type=checkbox]
      display: none;  /* to hide the checkbox itself */

   input[type=checkbox]#adjust+ label:after
      display: inline;
      transition: color ease-in .15s
      letter-spacing: 7px;
      font-family: "Font Awesome 5 Brands";
      content: "\f1d1"
      color: var(--txtcol)
      top 0
      // height: 1.5em
      // width 1em
         
   input[type=checkbox]#adjust:checked + label:after
      letter-spacing: 7px 
      font-family: "Font Awesome 5 Brands";
      content: "\f50e"
  
   input[type=checkbox]#adjust + label::before
      // margin-right: .25rem  
      font-weight: var(--s-std-weight)
      content: "dark side"
      transition: color ease-in .15s
      color: var(--txtcol)

   input[type=checkbox]#adjust:checked + label::before
      content: "light side"

   label#modeLbl
      z-index 500
      opacity opa
      font-size inherit
      // height 1em

      &:hover,&&:focus
         opacity 100%
      &:after
         margin-right: -.5ch

/*--------------positioning------------------*/
   *
      box-sizing: border-box 

nav #desk-nav
   align-items: flex-start;
   // line-height: 1
   align-items: baseline
   

.name-link
   cursor: url(trg.svg)22.5 23, auto


   &:hover,&&:focus
      cursor: url(trg.svg)22.5 23, auto
   
      .name-expand:after
         width 5rem


nav
   
   #menu-input
      display: none
   // #input:checked + label::before
      
   #menu-label
      display: none;

+narrowerthan(500px)
   nav
   
      background-color: var(--bgcol)
      display: block
      position fixed
      margin 0
      padding 1rem 1rem 1rem
      left 0
      top 0

      right 0
      // bottom: 0
      #menu-label

         top: 1em;
         right 1em
         height 1rem
         width 1.5rem
         // border-style: 
         border  outset 2.5px var(--bgcol) 
         border-right-style: inset  
         border-bottom-style: inset
         border-top-color: var(--txtcol)
         border-bottom-color: var(--txtcol)

         background-color var(--bgcol)
         transition: all 500ms ease-in-out
         z-index 400
      
         display: block
         position absolute
         top 1rem
         right 1rem
         opacity: opa
         transition: opacity 200 ease-in

         &:hover, &:focus
            opacity 100%

      #desk-nav
         height 100vh
         transition max-height .5s ease-in-out
         position relative
         max-height: 0
         overflow: hidden
         flex-direction: vertical
         flex-wrap: wrap
         bottom: 0 
         // align-content: 
         align-content: start
         #nav-links, #nav-theme-toggle 
            display: flex
            flex-direction: vertical
            flex-wrap: wrap
            margin-top: 1rem
            flex-basis: 100%
            &:after
               content: ""  
            
            a, label
               font-family: var(--pfont)
               margin-left: 0
               // padding 1rem 0
               // flex-basis: 100%
               justify-self: left
               text-align: left
               font-size: 3.5rem   
               &:after
                  content: ""  
      
      input#menu-input:checked + #menu-label
         height: 1.25rem
         width: 1.25rem
         border-radius: 50px
         // background-color var(--txtcol)
         border solid .125px var(--txtcol) 
         border-top-width: 2.5px
         border-bottom-width: 2.5px 
         margin-right .125rem
         margin-top: -.125rem
         

      #menu-input:checked ~ #desk-nav   
         max-height:200vh
         // height min-content

      #nav-theme-toggle
         height min-content
         label
            padding-bottom: 1rem
         
      #nav-home
         line-height: .9em
         font-size: 1.5rem
         transition: font-size .5s ease-in-out, opacity 200ms ease-in
         // animation nav-home-expand  .5s reverse
         animation-name: nav-home-expand;
         animation-duration: .5s;
         // animation-fill-mode: both
         opacity: opa
         &:hover, &:focus
            opacity 100%


      #menu-input:checked ~ #nav-home   
         padding-bottom: 1rem
         font-size: 3.5rem
         animation-name: nav-home-expand;
         animation-duration: .5s;
         animation-fill-mode: both
         &:after
            content: ""
         // font-size: 3rem
      #modeLbl:after
         margin-right: 0



@keyframes nav-home-expand
   0%
      font-family: var(--sfont)
   1%
      font-family: var(--pfont)
   100%
      font-family: var(--pfont)

// /* Font switch

input[type=checkbox]#font
   visibility hidden

input[type=checkbox]#font:checked + label::after
   content: "Serif"
   // font-family: "IBM Plex Serif"
   &:hover , &&:focus
      color: var(--pcol)


input[type=checkbox]#font + label::after
   content: "Sans"
   // font-family: "IBM Plex Sans"
   transition: color ease-in .15s 
   color: var(--txtcol)
   &:hover   , &&:focus
      color: var(--pcol) 
 

