widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}


nav 
   font-weight: 300
   z-index 40
   z-index 500
   .nav-item
      // mix-blend-mode: difference
   a.side-nav-child, #nav-h2
      // opacity 0
   #side-nav
      margin-top: 2rem
      opacity 0 
      transition: all .2s ease-out
      font-size: 1.5rem
      &:hover
         color: var(--sy-col)
      z-index: inherit


   #nav-name
      z-index: inherit
      text-align: center
      overflow-wrap: none
      white-space: nowrap;
      padding:0rem
      margin 2rem
      margin-bottom: 1em
      text-align: right 
      display: flex
      narrowerthan(500px)
      margin: 1rem
      #nav-h1
         z-index: inherit


         a
            font-family: var(--p-std-font)
            font-size: 1.3rem;
            +narrowerthan(600px)
               font-size: 1.1rem; 
            // font-weight: var(--s-bold-weight)
            text-align: left
            transition: all ease-in .15s 
            color: var(--txt-col)
            opacity 80%
            &:hover
               // color: var(--sy-col)
               opacity 100%
               // transform: scale(2)
      #nav-h2
         min-width 1rem
         // margin 1rem
         margin-left: auto
         font-size: 0.95rem
         text-align: right 
         z-index: inherit



   input#adjust[type=checkbox]
      display: none;  /* to hide the checkbox itself */

   input[type=checkbox]#adjust+ label:before
      display: inline-block;
      transition: all ease-in .15s
      letter-spacing: 10px;
      font-family: "Font Awesome 5 Brands";
      content: "\f1d1"
      transform: rotate(90deg) 
      color: var(--txt-col)
      height: 1em
      margin-bottom: .4rem

      &:hover 
         color: var(--py-col)
         
   input[type=checkbox]#adjust:checked + label:before
      letter-spacing: 5px 
      font-family: "Font Awesome 5 Brands";
      content: "\f50e"

   input[type=checkbox]#adjust + label::after
      content: "Dark Side"
      transition: all ease-in .15s
      color: var(--txt-col)
      &:hover   
         color: var(--py-col)

   input[type=checkbox]#adjust:checked + label::after
      content: "Light Side"
      &:hover 
         color: var(--py-col)
         // transform: scale(2)
      
   input[type=checkbox]#adjust:checked + label:hover::before ,  input[type=checkbox]#adjust:checked + label:hover::after
   input[type=checkbox]#adjust + label:hover::before ,  input[type=checkbox]#adjust + label:hover::after
      // color: var
      // font-size: 1.3em


   label#modeLbl
      display: flex
      justify-content: space-between
      font-size: .95em;
 
 /*--------------positioning------------------*/
   *
      box-sizing: border-box

   #nav-cont
      position: fixed
      top: 0
      right: 0
      bottom: 0rem
      margin 1rem
      z-index: 300
      
      +narrowerthan(450px)
         margin-right: 0.9rem
      +narrowerthan(375px)
         margin-right: 0.8rem

      display: flex
      align-items: center
      justify-content: space-between
      max-height: 100vh
      max-width: 100%
      writing-mode: vertical-rl

#modeLbl 
   text-shadow: 0px 0px .5em var(--txt-col), 0px 0px 0.4em var(--txt-col)

   // animation-name: alarmf;
   // animation-duration: 1s; 
   // animation-direction alternate;
   // animation-iteration-count: infinite;
   &:hover
      text-shadow: 0px 0px .5em var(--txt-col), 0px 0px .5em var(--txt-col), 0px 0px 0.5em var(--txt-col)
