arcwiderthan(var)
   condition = 'screen and (min-width: %s)' % var
   @media condition
      {block}

narrowerthan(var)
   condition = 'screen and (max-width: %s)' % var
   @media condition
      {block}

main.gallery
    // display: grid
    justify-items: center 
    margin-top: 5rem
    margin-left: 3rem
    margin-right: 3rem
    +narrowerthan(800px)
        margin-left: 1rem
        margin-right: 1rem
    //   margin-top: -8rem
    img.grid-image
        &:hover
            cursor: url(ex.svg) 30 30, auto
            // filter contrast(1.2) 
            transition: filter ease-out 200ms

    section
        &#portfolioContainer
            a
                margin-bottom: 10px 
        &#threedeeCont, &#gd-cont
            width: 90vw
            max-width: 1440px
            margin-left: auto
            margin-right: auto
        &#gd-cont
            a
                padding .2rem
                img 
                    box-shadow 1px 1px 2px #999;    
    section#portfolioContainer, section#threedeeCont, section#gd-cont
        // max-width 95vw
        a
            display: block
            // max-width 95vmin
            width: 25%
            height: auto
            // width: 300px
            // min-height: 200px 
            // min-width: 25vw
            
            &.w-quart
                width 6.25%
            &.w-half
                width 12.5% 
            &.w-reg
                width 25%
            &.w-reg-plus
                width 37.5%  
            &.w-double
                width 50%  
            &.w-triple 
                width 75%
               
            // margin 2px   
            // transition: width 150ms ease
            // margin-right: 0 
            // margin-left: 0
            // width 30vmin  
                
            &.zoomable
                transition: transform 250ms ease
                &:hover, &&:focus
                    z-index 200
        img

            display: block
            padding 0     
            object-fit: cover   
            // width: 100%
            // height auto
            max-width:100%;
            max-height:100%;
            &:not([src]):not([srcset])
                 visibility: hidden;

    #portfolioFilter
        box-sizing: border-box
        // position: sticky
        z-index: 35
        top: 3rem 
        padding-top: 0.2rem
        padding-bottom: 0.2rem
        display: flex
        margin-left: 0%
        margin-right: 0%
        margin-bottom: .5rem
        flex-wrap: wrap
        justify-content: center
        input[type=radio] 
        // margin 1rem
            display: none 
        label
            margin 0.3rem
            font-size: 0.9vw
            +narrowerthan(1500px)
                font-size: 1.05vw
            +narrowerthan(1400px)
                font-size: 1.3vw
            +narrowerthan(1200px)
                font-size: 1.4vw 
                font-size: 0.9rem

    #slider-cont
        padding: 0.5rem
        margin: 1rem 0rem 0.5rem 0rem 
        z-index: 35
        justify-content: center
        align-content: center
        display: flex
        #col-slider
            position: inherit
            width: 50vw
            +narrowerthan(800px)
                width: 80vw
            +narrowerthan(500px) 
                width: 100%

#sizeBtns
  display: flex
  button#add, button#subtract
    padding 0.3rem .8rem
    font-size:1rem


input[type=radio] + label 
  padding 0.3rem .8rem

  margin: 0.5rem
  transition: ease-out 350ms all 
  opacity: .75
  border-radius: .3em
  border solid  var(--pcol)
  border-width: medium 
  background-clip: padding-box;
  border solid transparent
  transition: background-color ease-out 200ms, border-color ease-out 200ms 

input[type=radio]:checked + label ,input[type=radio] + label:hover, input[type=radio] + label:active 
  // background-color var(--pcol)
  cursor: url(ex.svg) 30 30 , auto
      
  // &:hover
  background-color: var(--magenta-hlight);

#gd-cont
    img.mfp-img
        padding: 
            1rem 0 1rem