extends ./layout.jade

block title
  title Ali R
block content
  section
    h1 This is who I currently am
    p.
      I am a photographer and design student at the School of Interactive Arts and Technology at Simon Fraser University. 
      As well as being a writer for Spoon University SFU, I am also its Photo-Director, curating work submitted by our photographers. I am currently interested in learning how to art direct creatively while effectively co, in both design projects and my photography series.