doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, intial-scale=1, shrink-to-fit=no')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://stackpath.bootstrap/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    link(href="https://necolas.github.io/normalize.css/8.0.0/normalize.css", rel="stylesheet")
    title Game design
  body
    header
      a(href="index.html")
        img(src="imgs/Ali_logo_draft_2.png", alt="lOGO")
      nav
        a(href="photography.html") Photography
        a(href="works.html") Works
        div.dropdown
          a(href="web_design.html") Web Design
          a(href="game_design.html") Game Design
          a(href="spatial_projects.html") Spatial Projects
    main
 
        
      //- section.homepage_sections#vid_game
      //- section.homepage_sections#web_design
      //- section.homepage_sections
    footer
