doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    meta(name="description", content='')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin="anonymous")
    link(href="css/normalize.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    block title
     title Default
  body
  - var designTypes = ["Photography","Design","Other Projects","Medium"];
    header
      //- a(href="index.html")
      //-   img(src="_imgs/Ali_logo_draft_2.png", alt="lOGO")
      nav.grid-container.-10x1
        a(href="https://ali-rasheed.github.io" id="nav-name") Ali Rasheed
        each val, index in {photog:"Photography", design: "Design Projects", otherProj:"Miscellaneous", blog: "Medium"}
          a(href="index.html#"+index, class="nav-item") #{val}
        a(href="https://instagram.com/hisbeardedness", alt="main instagram" class="nav-item")
          img(src="/imgs/instagram-icon-13-256.png", alt="" id="instagram" )
    main
      block content
    footer
    script(src="js/main.js")