extends ./layout.jade

block title
  title index
block content
      section.homepage_sections#landing
        h1 Aliasger Rasheed
        p Marhaba, Bienvenue, Welcome to my little piece of the internet.
      section.homepage_sections#intro
        h1 This is who I currently am
        p.
          I am a photographer and design student at the School of Interactive Arts and Technology at Simon Fraser University. 
          As well as being a writer for Spoon University SFU, I am also its Photo-Director, curating work submitted by our photographers. I am currently interested in learning how to art direct creatively while effectively co, in both design projects and my photography series.

        .title-container
          h2 Photography
        .title-container
        h2 Design Projects

        
      //- section.homepage_sections#vid_game
      //- section.homepage_sections#web_design
      //- section.homepage_sections
    
