
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    <meta name="description" content="Aliasger Rasheed's Design & Photography Portfolio">
    <meta name="keywords" content="HTML,CSS,,JavaScript">
    <meta name="author" content="Aliasger Rasheed">
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    <meta name="msapplication-TileColor" content="#ffffff">
    //- <meta name="msapplication-TileImage" content="imgs/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#FF2079">
    <link rel="manifest" href="imgs/icons/manifest.json">
    <meta name="p:domain_verify" content="08e8999c41c6d49126256ccafec71782"/>


    //- //////////STYLE SHEETS/////////////
        //- FONTS 
    //- <link rel="stylesheet" href="https://ali-rasheed.github.io/webfonts/webfontkit-20191027-133924/fonts.css" type="text/css" /> 

    link(href="https://aliasgers.space/css/normalize.css", rel="stylesheet")
    link(href="https://aliasgers.space/css/main.css", rel="stylesheet")

    title 40404040404040404 
    
  body 
    main#project.fourofour
      section.x20c.grid
        h1.r-sect 404   
      section.x20c.grid 
        h2.ml-sect This is not the page you're looking for...
        figure.m-sect
            img(src="https://aliasgers.space/imgs/404/droids.png", alt="")
        p.mr-sect
            |Move Along  
            a(href="/", title="title").in-txt Move Along 

    footer 
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin="anonymous")
      script(src="js/main.js")

