doctype 
html(lang=en)
doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    <meta name="description" content="Aliasger Rasheed's Design & Photography Portfolio">
    <meta name="keywords" content="HTML,CSS,,JavaScript">
    <meta name="author" content="Aliasger Rasheed">
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="imgs/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#FF2079">
    <link rel="manifest" href="imgs/icons/manifest.json">
    <meta name="p:domain_verify" content="08e8999c41c6d49126256ccafec71782"/>


    //- //////////STYLE SHEETS/////////////
    //- <link rel="stylesheet" href="https://use.typekit.net/zak2pdv.css">
        //- FONTS 
    <link rel="stylesheet" href="https://ali-r.tk/webfonts/webfontkit-20191027-133924/fonts.css" type="text/css" /> 
    //- <link rel="stylesheet" href="webfonts/WEB/stylesheet.css">    

    link(href="https://ali-r.tk/css/normalize.css", rel="stylesheet")
    link(href="https://ali-r.tk/css/main.css", rel="stylesheet")

        //- LIGHTBOX 
    //- link(href="css/simplelightbox.min.css", rel="stylesheet")

        //- FONT AWESOME 

    link(href="https://ali-r.tk/css/fontawesome.min.css" rel="stylesheet") 
    link(href="https://ali-r.tk/css/brands.min.css" rel="stylesheet")
    link(href="https://ali-r.tk/css/solid.min.css" rel="stylesheet")
    //- link(href="css/light.min.css" rel="stylesheet")
    link(href="https://ali-r.tk/css/duotone.min.css" rel="stylesheet")
    //-  PRELOAD JS 
    script(src="https://ali-r.tk/js/preload.js")
    //- CSS

    <link rel="stylesheet" type="text/css" href="https://ali-r.tk/js/slick/slick.css"/>
    //- JS

    //- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
    title 40404040404040404 
    
  body#darkregion 
    //- header
        nav
            ul#nav-cont   
                
                //- li#side-nav         
                //-     |#[a.in-txt.nav-item.side-nav-child(href=photolink) Photography]
                //-     | |
                //-     |#[a.in-txt.nav-item.side-nav-child(href=index ) Design]
                //- li#top-placeholder
                //- li
                li 
                    |#[a.fas.fa-angle-double-up.nav-item#side-nav(href="#")]
                li#middle-placeholder
                li  
                    input(type="checkbox", name="modeToggle" id="adjust")   
                    label#modeLbl(for="adjust")                 
        //-   include ./includes/nav1.pug 
        //- #nav-mobile-placeholder.charette 
    main#project.fourofour
      section.x18c.grid
        h1.r-sect 404   
      section.x18c.grid 
        h2.ml-sect This is not the page you're looking for...
        figure.m-sect
            img(src="https://ali-r.tk/imgs/404/droids.png", alt="")
        p.mr-sect
            |Move Along  
            a(href="/", title="title").in-txt Move Along 

    footer 
      //-  include ./includes/footer1.pug
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin="anonymous")
      script(src="js/main.js")
