doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Me - Ali Rasheed
  body#darkregion
    header
      include ./includes/nav1.pug
    main#about.grid.x18c
      div.main-heading
        h1 Hi
        p I'm Ali and to get to the point...
      
        img(src="imgs/profile-pic-cropped.jpg", alt="").prof#treeLeaves
      //- p I am a web and industrial design student 
      
      section
        h2 What I want to design 
        ul
          li.flex-b     
            span.fad.fa-award
            | Education focused design enable students to take control of their own learning process, and push the limits of how education is understood.
          li.flex-b     
            span.fad.fa-hourglass-half
            | Work that has long-term impact
      section
        h2 I like to obsess over
        ul
          li.flex-b  
            span.fad.fa-list
            |Lists
          li.flex-b     
            span.fad.fa-film-alt
            |Intentionality, thought processes and themes in real-life and animated cinema
          li.flex-b  
            span.fad.fa-font
            | #[a.in-txt(href="https://www.theleagueofmoveabletype.com") Open]
            | -
            |#[a.in-txt(href="http://www.collletttivo.it/") source ]
            |&nbsp;
            |#[a.in-txt(href="https://open-foundry.com/fonts") type ]
            |&nbsp;
            |#[a.in-txt(href="https://dotcolon.net/") design ]
          li.flex-b
            span.fad.fa-sliders-h
            div
              | How photography and directed editing can affect 
              //- |#[a.in-txt(href="https://www.diyphotography.net/this-is-how-photography-is-affecting-our-moods-and-memory/") memory ]
              |memory
          li.flex-b
            span.fad.fa-feather-alt
            | Learning different writing systems, fictional and otherwise, and the orthography behind them.
      section
        h2 Ways to find me 
        ul
          li 
            span.fad.fa-copy
            | copy/paste my email
            button(on-click= "copyToClipboard('#email')" class='in-txt' id='email' aria-hidden='true' type='button') aliasgerrasheed@sfu.ca
          li
            span.fab.fa-instagram
            |#[a.in-txt(href="https://instagram.com/hisbeardedness") Photography ]
          li
            span.fab.fa-instagram
            |#[a.in-txt(href="https://instagram.com/hisbeardedness") Design/photo-experiments]
          li
            span.fad.fa-file-alt
            | Take a gander at my resume #[a.in-txt(href="#") here]
          li
            span.fab.fa-linkedin
            | Connect on
            |#[a.in-txt(href="https://www.linkedin.com/in/aliasger-rasheed/") Linkedin]
      section 
        h3 Site references
        ul
          li.flex-b
            span.fab.fa-osi
            div I used open source fonts #[a.space-g.in-txt(href="https://github.com/floriankarsten/space-grotesk")  Space Grotesk] from Colophon Foundry and #[a.mazius.in-txt(href="http://collletttivo.it/") Mazius Display] from Colllectttivo (yup, its spelled that way).
            
          li.flex-b
            span.fab.fa-font-awesome-alt
            | Icons are from&nbsp;
            |#[a.in-txt(href="fontawesome.com/") Font Awesome]
        
    footer
     include ./includes/footer1.pug 