doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Me - Ali Rasheed
  body#darkregion
    header
      include ./includes/nav1.pug
    main.about.grid
      h1 Hi
      img(src="imgs/profile-pic-cropped.jpg", alt="").prof
      //- p I am a web and industrial design student 
      
      section
        h2 What I want to design
        ul
          li Education focused design enable students to take control of their own learning process, and push the limits of how education is understood.
          li Work that has long-term impact
      section
        h2 Some Things I like to obsess over
        ul
          li Lists
          li Intentionality, thought processes and themes in real-life and animated cinema
          li #[a.in-txt(href="#") open source type design ]
          li Manipulating memory through photography and editing
          li Understanding the mechanisms behind different writing systems, fictional and otherwise 
      aside
        h1 Site references
        p 
          | I used open source fonts #[a.space-g.in-txt(href="https://github.com/floriankarsten/space-grotesk")  Space Grotesk] from Colophon Foundry and 
          |#[a.mazius.in-txt(href="http://collletttivo.it/") Mazius Display] from Colllectttivo
        h1 Ways to Find Me 
        ul
          li #[a(href="https://instagram.com/hisbeardedness" class="fab fa-instagram" aria-hidden="true")] My "curated" mainly landscape instagram 
          li Resume over #[a.in-txt(href="#") here]
          li Connect on inkedIn
        
    footer
     include ./includes/footer1.pug 