doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Me - Ali Rasheed
  body#darkregion
    header
      include ./includes/nav1.pug
    main
      section.homepage#landing
      h1 Hi
      img(src="imgs/profile-pic.jpg", alt="")
      p As you can see from ^, my name is Aliasger Rasheed and you're on my site. I am a web and industri  al design student passionate about working on projects that aim to be timeless, and exist to create positive social and environmental impacts. My work is influenced by an obsession with typography and a fascination for the nature of systems and mechanics.
      a(href="https://instagram.com/hisbeardedness")
        img(src="/imgs/instagram-icon-13-256.png" id="instagram")
    footer
     include ./includes/footer1.pug 