doctype
html(lang="en")
    head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description", content='')
    link(rel='shortcut icon', href='imgs/favicon.ico', type='image/x-icon')
    //- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    link(href="css/main1.css", rel="stylesheet")
    link(href="css/normalize.css", rel="stylesheet")
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Vesper+Libre:400,500,700,900&display=swap" rel="stylesheet">


    body.pulp
        h1 Pulp Fiction Books
        h2 Heading 2
        h3 Heading 3
        p 
            | Aut quibusdam nesciunt inventore, earum at tempora ipsa sapiente nulla? Rem doloribus maiores perspiciatis alias recusandae quo odit, quas dolorum possimus beatae, natus harum expedita dolores rem, consectetur dolorum pariatur ipsam quasi cum saepe necessitatibus delectus dolore, sed voluptatibus cum amet accusantium repellendus ab officia optio? Link 
            a(href="http://link.com", ) here.
            |   Odio magnam quibusdam ipsum recusandae aliquam quisquam, ut enim numquam alias vel natus eum, in atque sit totam dignissimos, dolore laboriosam incidunt veniam exercitationem eaque necessitatibus nulla voluptates possimus modi provident, natus impedit labore culpa voluptatem?

        h2 Brand Definition
        h4 A homely Canadian bookstore focused solely on selling new and used books, selling the best in current fiction/non-fiction. Creating a personal-feeling and warm brand identity with a good customer relationship is important.
        h2 Persona
        img(src="https://images.unsplash.com/photo-1524157399923-bb07eea8c944?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80", alt="")
        p 
            a(href="http://www.estherperbandt.com/") Esther
            |  is a 22 year old college student. She is an avid reader of english classics. 
        p She has a hobby of collecting 1st edition books, and likes to keep an eye out for new additions to her collection.
        p She doesn’t mind spending time browsing through bookstores.
        p With her income from a part-time job, she saves it up for big reading and stationary related purchases, and so is very careful that she is purchasing from genuine sihyrces
        h2 Colour Palette
        img(src="pal.png", alt="")
        h2 Inspiration
        img(src="https://i.pinimg.com/564x/3d/c5/05/3dc5053a4312ca807155ee10b92b0562.jpg", alt="")
        img(src="https://i.pinimg.com/564x/45/52/02/45520211568a2ca9589e91210df3672d.jpg", alt="")

