mixin faList(content)

  li.flex-b
    span()&attributes(attributes)
    = content

doctype

html(lang='en')
  head
    include ./includes/head1.pug
    title Hearth - Ali Rasheed
  body 
    header
      include ./includes/nav1.pug 

    main.grid#project

      section#overview.x20c.grid

        #cover-image.magenta-hover 
          img(src="imgs/charette/hearth-underlit.jpg", alt="") 

        h1.main-heading Hearth

        p#summary 
          | Kabuki theater form is an important cultural icon of the Japanese arts, however it is not widely recognised as such by international tourists. Kamishibai is a VR headset created to allow potential spectators to experience Kabuki theatre and thus make a more informed decision on whether to purchase tickets.

      section#skills-used.grid.x20c
        h2.r-sect Contribution
        p.r-sect 3D Modelling and rendering of final iterations.
          |Photography and image treatment of physical models.
          |Sketching and Physical Prototyping of models.
      section#design-brief.proj-sect.grid.x20c
        h2.ml-sect Task
        p.ml-sect Using design cues from Seattle’s architectural landmarks and from building up from a 3 week iteration process, 14 teams were tasked with creating a spatially interesting architectonic form over the span of 2 days, presented with a clear art direction. This included a presentation showing design decisions in front of peers and a team of mentors as well as a high-fidelity scale model of the form.
      section#results.grid.x20c
        h2.mr-sect Results
        p.mr-sect Placed 2nd place. Praised for cohesive art direction and thought-out architectural program
      section.grid.x20c
        h3.r-sect Team
        //- p.r-sect Audrey Chow, Ethan Ma, Brendan Chow, Eliza Lim, Andrew Cabu
        ul.r-sect 
          +faList("Audrey Chow")(class="fad fa-user-edit")
          +faList("Ethan Ma")(class="fad fa-user-ninja")
          +faList("Brendan Chow")(class="fad fa-snowboarding")
          +faList("Eliza Lim")(class="fad fa-user-music")
          +faList("Andrew Cabu")(class="fad fa-user-cowboy")
          +faList("Aliasger Rasheed")(class="fad fa-user-cog")
      section#form-iteration.grid.x20c
        h2.ml-sect Form Investigations
        p.ml-sect The project was a culmination of the skills developed over the term in understanding spatial form, while increasing the expectation bar much higher than before. We began with sketching as well as physical prototyping towards developing a three-dimensional architectonic composition. 
      //- iframe(src='https://3dwarehouse.sketchup.com/embed/e53e90c644f330ce56daeec387836953', frameborder='0', scrolling='no', marginheight='0', marginwidth='0',allowfullscreen='', id="model3d")
     
    footer 
     include ./includes/footer1.pug

      //-      section#intro-sect.x20c.grid
      //-   #cover-image.magenta-hover 
      //-     img(src="https://via.placeholder.com/1600x900").maskable
      
      //-   h1.main-heading Project name
      //-   p#summary Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
      
      
      //- section.x20c.grid
      
      //-   h2.sect-h.l-sect Left Section
      //-   p.l-sect 
      //-     |  It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. 
      //-   figure.magenta-hover.l-sect.proj-img
      //-     img(src="https://via.placeholder.com/1600x900").maskable      
      //-   h2.sect-h.r-sect Right Section  
      //-   p.r-sect 
      //-     | The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
      //-   figure.magenta-hover.r-sect.proj-img
      //-     img(src="https://via.placeholder.com/1600x900").maskable