doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Me - Ali Rasheed
  body#darkregion 
    header
      include ./includes/nav1.pug 
      #nav-mobile-placeholder.charette 
    main.grid.charette
      section#summary.proj-sect
        img(data-src="ali-rasheed.github.io\imgs\charette\space-sequence-cr.jpg", alt="") 
        h1 hearth: an architectonic form
        p Conceived with the goal of joining two distinct programs, a women’s shelter and a fire-man’s hall, as a symbol of strength for the greater community. 
      aside#skills-used
        h1 Contribution
        p 3D Modelling and rendering of final iterations.
          |Photography and image treatment of physical models.
          |Sketching and Physical Prototyping of models.
      section#design-brief.proj-sect
        h1 Task
        p Using design cues from Seattle’s architectural landmarks and from building up from a 3 week iteration process, 14 teams were tasked with creating a spatially interesting architectonic form over the span of 2 days, presented with a clear art direction. This included a presentation showing design decisions in front of peers and a team of mentors as well as a high-fidelity scale model of the form.
      section#results 
        h1 Results
        p Placed 2nd place. Praised for cohesive art direction and thought-out architectural program
      aside 
        section#team.proj-sect
          h1 Wrought with
          p Audrey Chow, Ethan Ma, Brendan Chow, Eliza Lim, Andrew Cabu
      section#form-iteration.proj-sect 
        h1 Form Investigations
        p The project was a culmination of the skills developed over the term in understanding spatial form, while increasing the expectation bar much higher than before. We began with sketching as well as physical prototyping towards developing a three-dimensional architectonic composition. 
      iframe(src='https://3dwarehouse.sketchup.com/embed/e53e90c644f330ce56daeec387836953', frameborder='0', scrolling='no', marginheight='0', marginwidth='0',allowfullscreen='', id="model3d")
     
    footer 
     include ./includes/footer1.pug