mixin faList(content)
  li.flex-b
    span()&attributes(attributes)
    = content
    block

doctype

html(lang='en')
  head
    include ./includes/head1.pug
    title Gakko - Ali Rasheed
  body#darkregion 
    header
      include ./includes/nav1.pug   

    main.grid#project

      section#overview.x18c.grid

        #cover-image.magenta-hover 
          img(src="imgs/gakko/image20.jpg", alt="venue of camp") 

        h1.main-heading Gakko Camps: Kagoshima 2019
        
        h2 Overview
        h3 The Camp
        p#summary 
          |Gakko is a global educational collective that builds spaces, experiences &amp tools to reclaim the magic of learning. It runs an annual international summer camp that is built from the ground up by a selected group of <em>Sempai</em> camp creators over a two-week long prep. <em>Kohai</em> campers arrived post-prep for a further two weeks of camp. 

          <br>
          |The fortnight of prep was spent iterating  <em> investigations </em>(educational workshops) and creating the physical space where the camp would be run.

 
        //- hr 

      section#skills-used.grid.x18c
        h3.ml-sect Contribution
        //- h3.r-sect Graphic &amp Instructional Design - Mentorship - Photography
        p.ml-sect Beyond taking on roles that worked towards the greater functioning of the camp:
 
        ul.ml-sect          
          +faList("")(class="fad fa-tshirt")    
            div
              |I designed the <a href="#visualdesign" class="intra-page">camp t-shirt and signage</a>  
          +faList("")(class="fad fa-text") 
            div
              |I designed a main long-term investigation, <a href="#typography" class="intra-page">Typography: A Love Story</a>  
          +faList("")(class="fad fa-acorn") 
            div
              |Co-ran and facilitated <a href="#acorns" class="intra-page"><em>acorns</em></a>, short skill-specific workshops  
          +faList("")(class="fad fa-male") 
            div
              |Co-created an experimental community performance piece called  <a href="#standin" class="intra-page">Stand-In</a>  

 

      section.grid.x18c  
        h2.l-sect Ethos
        h3.ml-sect Building Foundations
        p.ml-sect As the directors and sempai came from different disciplines and backgrounds, we began with using mind-mapping to compose a tree of where our thoughts lie on all possible avenues of what could be shared and taught in the camp. This served the purpose of establishing common ground on various ideas between sempai for further use when developing pair protos (workshops co-run by two sempai on a shared idea). It also served the purpose of deepening mutual understanding, which was essential towards running the camp smoothly.
        figure.magenta-hover.mr-sect.proj-img
          img(src="imgs/gakko/image24.jpg" alt="post design-sprint meeting").maskable
          figcaption Pre-sprint meeting on objectives of the day.
        p.ml-sect Progressing from the mind-maps, <strong>we chose a compass, values that would guide our decisions when solving problems</strong>, from during workshop development to space building. After a mass proposal of ideas, we used a process of elimination including checking commonalities among individuals, grouping ideas under various umbrellas and cutting non-essentials. We decided upon four values including:
        ol.ml-sect  
          li
            | Rigour
            ul  
              li 
                i.fad.fa-arrow-from-left
                |Am I open to a multiplicity of responses?
              li 
                i.fad.fa-arrow-from-left
                |Am I doing this out of compassion or fear?
              li 
                i.fad.fa-arrow-from-left
                |Am I proud to take ownership?
          li
            | Generosity
            ul
              li 
                i.fad.fa-arrow-from-left
                |Is this my most generous offering?
              li 
                i.fad.fa-arrow-from-left
                |Am I underestimating?
              li 
                i.fad.fa-arrow-from-left
                |Am I providing a generosity of self?

              li 
                i.fad.fa-arrow-from-left
                |Is this activating/empowering?
          li
            | Wonder
            ul
              li 
                i.fad.fa-arrow-from-left
                |Inspiring awe?
              li 
                i.fad.fa-arrow-from-left
                |Approaching with curiosity?

              li 
                i.fad.fa-arrow-from-left
                |Do i care that you care?

          li
            | Simplicity 
            ul
              li 
                i.fad.fa-arrow-from-left
                |Less but better!
              li 
                i.fad.fa-arrow-from-left
                |Is this essential (considering time/space/resources/content)?

        figure.magenta-hover.mr-sect.proj-img
          img(src="imgs/gakko/image26.jpg" alt="campers standing in a circle").maskable

      section.grid.x18c  
        h2.l-sect#visualdesign Visual Design
        h3.ml-sect T-shirt Decal
 
        p.ml-sect Every year’s Gakko camp has a signature T-Shirt with a custom decal. This year’s environmentalist approach led to this year’s design being screen printed on existing t-shirts of the kohai and sempai. This created <strong>a constraint of having decal with a single colour.</strong> Though the offer of designing the logo was open to all sempai at the start of prep, my enthusiasm and initiative to produce initial mockups led to me being assigned the task.  

        figure.magenta-hover.proj-img.mr-sect
          img(src="imgs/gakko/image31.jpg" alt="screen printing activity").maskable
          figcaption Sempai &amp Kohai screenprinting the decal onto their shirts.

        p.ml-sect
          |I used previous years’ decal designs as precedent. They utilised Gakko’s 
          <a href="https://medium.com/@mariogomes/analysis-of-the-ens%C5%8D-symbol-f200f0798692" class="in-txt"><em>Ensō </em>logo</a>
          |  as a constraining structure. As opposed to abstract illustration, <strong>I focused more on the iconography &amp imagery I found most uniquely signified the camp in 2019</strong>. This included:

        ul.ml-sect
          +faList("The ocean around the venue.")(class="fad fa-water")
          +faList("the active volcano Sakurajima visible on the horizon.")(class="fad fa-volcano ")
          +faList("Japan where the camp was held. Most of the kohai had previously never been to Japan, for some it being their first international trip. In addition, as opposed to previous years where camps were held multinationally, this year’s camp was held only in japan.")(class="fad fa-globe-asia")
        div.mr-sect

        figure.magenta-hover.proj-img.mr-sect
          img(src="imgs/gakko/gakko2019logo.png" alt="screen printing activity").maskable
          figcaption Final shirt decal deliverable.
        p.ml-sect
          |Over the span of camp prep, I iterated on the decal, trying different approaches, but came full circle to a design quite similar to the initial direction.

        figure.magenta-hover.proj-img.l-sect
          img(src="imgs/gakko/sp_prototype_(1).png" alt="screen printing activity").maskable

        figure.magenta-hover.proj-img.r-sect
          img(src="imgs/gakko/sp_prototype_(2).png" alt="screen printing activity").maskable

        figure.magenta-hover.proj-img.m-sect 
          img(src="imgs/gakko/sp_prototype_(3).png" alt="screen printing activity").maskable
          figcaption Decal variants.

      section#results.grid.x18c
        h2.l-sect#typography Main Investigation
        h3.ml-sect Typography: A Love Story
        p.ml-sect 
          |Though conceptualised initially as an introduction to graphic design, my main investigation landed upon conveying why I am passionate about typography as it narrowed down a niche that is not particularly well known and was something I particularly cared about within graphic design. This made it respectively more insightful of a topic and made it easier to draw upon personal examples when presenting.
        p.ml-sect I focused on how <strong>typography influences your decisions and perception in ways most people don’t realise</strong>, and how<strong> the intricacies of and accentuated differences within typefaces define their individual identity </strong>as well within greater culture.

        p.ml-sect All main investigations were put through <strong>a series of short design sprints </strong> over the 2 weeks of prep. We first defined what the investigations’ purposes were, how and what we expected kohai to receive at the end of the workshop, and how to keep engagement high throughout. Then time was spent individually exploring different avenues of how investigations could be experiences within the time slots the investigation was given. After developing mediums for the investigations - which was a presentation in the case of this investigation - we tested them in what we coined as <em>protos</em>. Sempai participate in 30 min test workshops and come out of them with critical feedback on what hooked them on, needed greater clarity and enkindled further curiosity, etc.
        
        p.ml-sect 
          |Critical feedback I received included:  
        ol.ml-sect
          li Putting forth personal opinions to further relatability
          li Reduce teaching to them, and discuss more with them so as to promote their own curiosity.
          li To utilise my own passion & curiosity, and to not let my limited experience with type design constrict what can be tried.
          li Create a more defined structure, possibly by creating a story arc to follow, as well as a more step by step process which builds upon itself.
        p.ml-sect 
          | Utilising this feedback, I moved from a presentation structure where engagement would occur only through 
      
      
      section#results.grid.x18c
        
        h2.l-sect#acorns Acorns
        
        h3.ml-sect Photography
        p.ml-sect 
        
        h3.ml-sect Jewelry Making
        p.ml-sect 

        h3.ml-sect Animation
        <iframe class="r-sect" src="https://www.youtube-nocookie.com/embed/2Xj6dQSK8_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        p.ml-sect 



      section#results.grid.x18c
        h2.l-sect.r1 Reflection
        p.ml-sect.r2 
          |From a higher level perspective, I think the camp was quite successful, from intention to execution. I think errors in personal judgement and decision making were those that created the most friction in camp. I would attribute this in my case to a lack of experience in such a role, considering the experience as very important while underestimating the amount of work to make it a successful experience.
          br    
          |
          br    
          |In terms of designing my investigations and workshops, they lacked detailed structure which could adapt to constraints of resources, space and most importantly, time. I do think that the workshop - with their goals of having actual end products as well as exploring different ways of reaching said end products - fit in well with another sempai, Veronica’s encompassing project of a Museum Of Memory. It explored the philosophy behind how memory is built, and how people attach memory to physical objects.

 
        figure.magenta-hover.r-sect.proj-img.r2
          img(src="imgs/gakko/image5.jpg" alt="'Alien Disaster' Workshop").maskable


      aside.12c.grid
        h3.m-sect Team
        div.x2c.m-sect
          div
            h4 Directors
            ul 
              +faList("Lilly Callahan")(class="fad fa-fireplace")
              +faList("Kenta Koga")(class="fad fa-wand-magic")
          div
            h4 Coordinators 
            ul
              +faList("Ian Shimizu")(class="fad fa-tree-alt")
              +faList("Riku Kurosawa")(class="fad fa-leaf-heart")
          div   
            h4 <em>Sempai</em> Mentors
            ul
              +faList("Aliasger Rasheed")(class="fad fa-text")
              +faList("Alexa Gantous")(class="fad fa-tree")
              +faList("Giordano Margaglio")(class="fad fa-globe-europe")
              +faList("Kay Liang")(class="fad fa-hand-holding-heart")
              +faList("Veronica Ma")(class="fad fa-book-reader")
              +faList("Will Hochman")(class="fad fa-film-alt")
     
    footer 
     include ./includes/footer1.pug