
doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Me - Ali Rasheed
  body#darkregion
    header
      include ./includes/nav1.pug
    main
    
    footer
     include ./includes/footer1.pug