mixin faList(content)

  li.flex-b
    span()&attributes(attributes)
    = content
    block

mixin single-img-ls(link,cap,myclass)
  figure.magenta-hover.mr-sect.flex-b(class = myclass)
    img(data-src=link).maskable.r1.lazy
    figcaption = cap

mixin carousel-img(link,cap,class)
  .img
    img(data-src=link).lazy


doctype

html(lang='en')
  head
    include ./includes/head1.pug
    title Kamishiba Headset
  body 
    header
      include ./includes/nav1.pug 
    main#project.grid
      
      section#overview.x20c.grid

        #cover-image.magenta-hover 
          img(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" 
     data-src="imgs/headset/headset-render-1.png" alt="materials used in headset").maskable.lazy
      
        h1.main-heading Kamishibai VR Headset

        h2 Overview
        h3 Kabuki
        p#summary 
          |Kabuki theater form is an important cultural icon of the Japanese arts, however it is not widely recognised as such by international tourists. Kamishibai is a VR headset created to allow potential spectators to experience Kabuki theatre and thus make a more informed decision on whether to purchase tickets. 
        //- hr
      

      
      section.x20c.grid
        h3.sect-h.ml-sect Project Context  
        h4.ml-sect  Spring 2019    
        p.ml-sect 
          |Over 4 weeks, we needed to find a client or industry which had a need that could be fulfilled through the use of VR. Once this was determined, we needed to design the headset through which the VR service would be experienced.
        //- hr.l-sect
        //- div.r-sect
        //-   <iframe src="https://3dwarehouse.sketchup.com/embed/e3504c96-a203-4843-ae50-00071cb4b894" ></iframe>
          //- hr.r-sect 
        h3.sect-h.ml-sect Responsibilities  
        ul.ml-sect
          +faList("Along with initial modelling with my team-mates, I developed the final iteration of the headset through digital 3D modelling in Trimble Sketchup. ")(class="fad fa-cubes")
          +faList("For the physical model, I coordinated the main housing’s construction as I was most familiar with wood-working and the intricacies of the model’s joinery.")(class="fad fa-ruler-combined")

      section.x20c.grid

        h2.sect-h.l-sect Design Focus  
        figure.mr-sect
          img(src="imgs/headset/dissection.png" alt="dissection of headset").maskable
        p.ml-sect
          |Based on the materials we were assigned, we determined that focusing on cultural heritage practises and artefacts was ideal. We focused on Kabuki Theater halls as the intricate fashion of Kabuki ensemble and the carved wooden theater dovetailed well with our design constraints for using cloth and wood.
        figure.magenta-hover.mr-sect.proj-img
          img(src="imgs/headset/interaction-diagram.png" alt=" interaction diagram for using headset").maskable
        p.ml-sect
          |After researching the customer segments which would have the greatest need for our product, we decided upon Japanese travel and tour companies operating in cultural hubs in Japan such as Osaka and Tokyo. 

        figure.magenta-hover.ml-sect.proj-img
          img(src="imgs/headset/orthographic-views.png" alt="orthographic sketches of 3D model").maskable
      
      section.x20c.grid
        h2.sect-h.l-sect Process
        p.ml-sect 
          | Our process began through sketching out the headset, exploring different mechanisms for holding the smartphone, interfacing the headset with the users head, while keeping in mind the size and material constraints.
        figure.magenta-hover.m-sect.proj-img
          img(src="imgs/headset/low-fidelity.png" alt="low fidelity iteration of headset").maskable

      
      section.x20c.grid
        h3.r-sect Team
        ul.r-sect 
          +faList("Aliasger Rasheed")(class="fad fa-cubes")
          +faList("Christy Chan")(class="fad fa-edit")
          +faList("Jessie Lee")(class="fad fa-object-group")  

  
      section.x20c.grid
        h2.sect-h.m-sect Reflection          
        p.m-sect  In the case of construction of the physical headset, better quality control and carefulness on my part would have resulted in a higher fidelity model. For the presentation, determining statistics that supplemented our reasoning for the product would have made our standing much stronger.

      
    footer 
     include ./includes/footer1.pug