
doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Kamishiba Headset - Ali Rasheed
  body#darkregion
    header
      include ./includes/nav1.pug
    main
      section.summary.proj-sect stuff
    footer
      include ./includes/footer1.pug