doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Ali R - Photographer тип Designer
  body.index
    //- #preloader-wrapper
    //-   #preloader 
    header
      include ./includes/nav1.pug
    main
      //- #nav-mobile-placeholder.index 
      //- #landing-intro(data-aos="")
      //-   h1#landing-name Aliasger <br> Rasheed
      //-   h2 Product Designer тип Photographer
      section.grid-item
        a(id=photography href="photography.html")
          img(src="imgs/projects/photography"+".jpg", alt="", srcset="").maskable
        h1 Photography   
      section.grid-item
        a(id=charette href="charette.html")
          img(src="imgs/projects/charette"+".jpg", alt="", srcset="").maskable
        h1 Charette 
      section.grid-item
        a(id=headset href="gakko.html")
          img(src="imgs/projects/gakko"+".jpg", alt="", srcset="").maskable
        h1 Gakko Camps 2019 - Kagoshima, Japan
      section.grid-item
        a(id=headset href="headset.html")
          img(src="imgs/projects/headset"+".jpg", alt="", srcset="").maskable
        h1 Kamishiba VR Headset
    footer
      include ./includes/footer1.pug