//- ////////MIXINS/////////
mixin img-lazyloaded-lg(name,sequence)
  figure(class=name+" img-cont element-item" ) 
    img(class="lazy", data-groups=name, data-src="imgs/photography-lg/"+name+"/"+name+"_"+sequence+"-1500.jpg", onerror="hide(this)" alt="A "+ name+ " image") 


mixin img-folder-lazyloaded-lg(name,sequence,folder)
  figure.img-cont
mixin img-cap-lazyloaded-lg(name,sequence,caption) 
  figure.img-cont
    img(class="lazy", data-groups=name, data-src="imgs/photography-lg/"+name+"_"+sequence+"-1500.jpg", alt=name, onerror="hide()") 
    figcaption = caption

//- ///////////ARRAYS///////// 
doctype  
html(lang='en')
  head
    include ./includes/head1.pug
    title Photography - Ali Rasheed
  body
    header.gallery
      include ./includes/nav1.pug  


    main.gallery 
      #btn-cont.portfolioFilter.filter-button-group.button-group
        
        input(type="radio", name="imgFltr", data-filter="*" checked="checked").in-txt.current#all-categories 
        label(for="all-categories").in-txt All Categories

        input(type="radio", name="imgFltr",data-filter=".Human" value="human").in-txt#human 
        label(for="human").in-txt Human
 
        input(type="radio", name="imgFltr",data-filter=".Anthropogenic-Landscape").in-txt#anthro 
        label(for="anthro").in-txt Anthropogenic Landscape

        input(type="radio", name="imgFltr",data-filter=".Natural-Landscape").in-txt#natural  
        label(for="natural").in-txt Natural Landscape

        input(type="radio", name="imgFltr",data-filter=".Architectural").in-txt#architectural 
        label(for="architectural").in-txt Architectural  

        input(type="radio", name="imgFltr",data-filter=".Still-Life").in-txt#still-life  
        label(for="still-life").in-txt Still Life
      
      #slider-cont
        input(type="range", name="column-slider" , min="1", value ="70", max="100" )#col-slider


      section.photography-grid.portfolioContainer

        - for(var i=1; i<20; i++)
          +img-lazyloaded-lg("Human",i)
          +img-lazyloaded-lg("Anthropogenic-Landscape",i)
          +img-lazyloaded-lg("Architectural",i)
          +img-lazyloaded-lg("Still-Life",i)
          +img-lazyloaded-lg("Natural-Landscape",i)
          
          
    footer
      
      //- --------FONTAWESOME

      //- ---------JQUERY
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin="anonymous")

      //- ------LAZYLOAD INTERSECTION OBESERVER BACK-COMP
      <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.5.1/intersection-observer.js"></script>
      //- ------VANILLA LAZYLOAD
      script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')
      //- -------IMAGES LOADED
      <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
      //- ---------ISOTOPE-----------
      script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")



      script(src="js/main.js")

      //- include ./includes/footer1.pug  