
mixin img-cap-lazyloaded(name,path,caption) 
  figure.img-cont
    img(class="lazy", data-src="imgs/posterjam/"+path, alt=name, onerror="hide()") 
    figcaption=caption


doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Posterjam - Ali Rasheed
  body#darkregion 
    header
      include ./includes/nav1.pug 

    main#posterjam

      section#overview.x18c.grid  
      
        h1.main-heading Posterjam
        p.ml-sect 
            em 
                strong Vancouver, Canada - Spring 2020        
        p#summary
          a(href="https://posterjam.ro/", title="Posterjam").in-txt Posterjam
          //- |  is a 
          //- strong monthly graphic design challenge hosted online.
          //- |Participants are 
          //- strong given a prompt for that month
          //- |, using it to design posters, with concept, technique and art-direction left to the designer’s interpretation. Designers compete to have their posters displayed in various locations in Bucharest, Romania, and have their work highlighted.
          |
          |is a monthly online graphic design challenge. Participants are given the constraint of a single word prompt for each month. Otherwise the poster's concept, technique and art-direction is left to the designer’s interpretation.
      section.flex-b
        h2 February  
        h3 Prompt: time 
        //- +img-cap-lazyloaded("","poster-7.jpg","")     
        figure.img-cont
          img(src="imgs/posterjam/poster-7.jpg" alt="screen printing activity")
          figcaption Figure A
        h4 Figure A
        p To visually represent time,  I was inspired the British TV show Doctor Who where they travel through a luminous time vortex.  The layering of the arcs forces the viewer to read the text through 
          a(href="https://www.creativebloq.com/graphic-design/gestalt-theory-10134960#03-closure").in-txt Gestalt closure
          |.
      section.flex-b
        h2 December-January  
        h3 Prompt: suprise  
        +img-cap-lazyloaded("","poster-6.jpg","")
        h4 Figure A
        p I interpreted "surprise" as juxtaposition for this poster. Legendary graphic designer Massimo Vignelli's quote juxtaposes with the use of
          |
          em Comic Sans
          |, which most certainly is not not among the "few basic ones". My choice of grid also reflects Vignelli's strong use of grids in his graphic design. The transparency of the visible grid  directs the eye through the poster.
  
      section.flex-b     
        h2 October  
        h3 Prompt: grid  
        +img-cap-lazyloaded("","poster-4.jpg","Figure A")  
        +img-cap-lazyloaded("","poster-5.jpg","Figure B")  
        h4 Figure A
        p This poster incorporates 2 interpretations of grids. The first is the unconventional but essential radial grid, which I decided to distort to radiate from a point to create a flow for the eye, where it collides with the second grid - the rows and columns that emerge from monospaced typography.
        h4 Figure B
        p
      section.flex-b
        h2 September 
        h3 Prompt: 2    
        
        +img-cap-lazyloaded("September","poster-1.png","Figure A")

        +img-cap-lazyloaded("September","poster-2.png","Figure B")

        +img-cap-lazyloaded("September","poster-3.png","Figure C")

        h4 Figure A
        p '2' reminded me of a photograph I took of 2 school-children, friends or possibly brothers, and a quote by author C.S Lewis “Friendship is born at that moment when one person says to another: ‘What! You too? I thought I was the only one”. I experimented with alignment, using graphical elements as compositional supports, and textures till I came to this composition. 

        h4 Figure B
        p A no.2 pencil was a ubiquitous “2” that came to mind. I used this as another opportunity to explore using texture. I attempted to replicate  lined paper, albeit with a underlaid pencil. I also reused the photograph from my previous poster, using the children' outline to create a seating ledge, to act as a counterbalance to the pencil.

        h4 Figure C
        p In this poster, I utilized the concept of a Antichthon, planets in the same orbit but on opposing ends of the orbital ellipse. The noisy sphere assets were used to create visual interest, and similar lines were used otherwise to present a unified system.
    footer 
      include ./includes/footer1.pug  
