
mixin img-cap-lazyloaded(name,caption,path) 
  figure.img-cont.m-sect
    img(class="lazy", data-src="imgs/posterjam/"+path, alt=name, onerror="hide()") 
    figcaption=caption

doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Hearth - Ali Rasheed
  body#darkregion 
    header
      include ./includes/nav1.pug 
    main.grid#posterjam
      section#intro-sect.x18c.grid
        //- #cover-image.magenta-hover 
          img(src="imgs/charette/hearth-underlit.jpg", alt="") 
        h1.main-heading Posterjam
        //- p#summary 
        //-   large Kabuki theater form is an important cultural icon of the Japanese arts, however it is not widely recognised as such by international tourists. Kamishibai is a VR headset created to allow potential spectators to experience Kabuki theatre and thus make a more informed decision on whether to purchase tickets.

      section#results.grid.x18c
        h2.l-sect September
        +img-cap-lazyloaded("September","September","poster-1.jpg")
        +img-cap-lazyloaded("September","September","poster-2.jpg")
        +img-cap-lazyloaded("September","September","poster-3.jpg")
        +img-cap-lazyloaded("September","September","poster-4.jpg")

    footer 
     include ./includes/footer1.pug

      //-      section#intro-sect.x18c.grid
      //-   #cover-image.magenta-hover 
      //-     img(src="https://via.placeholder.com/1600x900").maskable
      
      //-   h1.main-heading Project name
      //-   p#summary Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.
      
      
      //- section.x18c.grid
      
      //-   h2.sect-h.l-sect Left Section
      //-   p.l-sect 
      //-     |  It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. 
      //-   figure.magenta-hover.l-sect.proj-img
      //-     img(src="https://via.placeholder.com/1600x900").maskable      
      //-   h2.sect-h.r-sect Right Section  
      //-   p.r-sect 
      //-     | The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
      //-   figure.magenta-hover.r-sect.proj-img
      //-     img(src="https://via.placeholder.com/1600x900").maskable