doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title Me - Ali Rasheed 
  body#darkregion 
    header
      include ./includes/nav1.pug 
      #nav-mobile-placeholder.charette 
    main.grid.x12c#project
      section#summary.proj-sect
        h1.main-heading Project name
        p Conceived with the goal of joining two distinct programs, a women’s shelter and a fire-man’s hall, as a symbol of strength for the greater community. 
      figure
        img(src="https://via.placeholder.com/500x250") 
      section#design-brief.proj-sect
        h1.sect-h Task
        p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum  soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
      
      aside#skills-used
        h1.sect-h Contribution 
        p 3D Modelling and rendering of final iterations.
          |omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
          |maxime placeat facere possimus, omnis voluptas assumenda est, 
      
      section#results.proj-sect 
        h1.sect-h Results
        p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
      aside#team
        h1.aside-h Wrought with
        p perspiciatis unde omnis iste natus error 
    footer 
     include ./includes/footer1.pug