doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title References 
  body#darkregion 
    header
      include ./includes/nav1.pug 
      #nav-mobile-placeholder.charette 
    main#project
      section#intro-sect.x18c.grid
      
        h1.main-heading References
      
      
      section.x18c.grid
      
        p.m-sect 
          //- pre
          |Barnett, J. (n.d.). Simple CSS Checkboxes with Font Awesome. Retrieved November 26, 2019, from https://codepen.io/jamesbarnett/pen/yILjk.
        p.m-sect 

          |Casagrande, A. (n.d.). Mazius Display Typeface. Retrieved from http://collletttivo.it/.
        p.m-sect 
          |Dunham, E. (n.d.). Font Squirrel Font generator. Retrieved from https://www.fontsquirrel.com/tools/webfont-generator.
        p.m-sect 
          |Favicon Generator. (n.d.). Retrieved from https://www.favicon-generator.org/.
        p.m-sect 
          |García, J. M. (2019, February 27). Look Ma, No Media Queries! Retrieved November 26, 2019, from https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/.
        p.m-sect 
          |Maqsood, S. (n.d.). CodePen Home How to copy TEXT to Clipboard on Button-Click. Retrieved November 26, 2019, from https://codepen.io/shaikmaqsood/pen/XmydxJ.
        p.m-sect 
          |Pradil, A. M. (n.d.). HK Grotesk - Open Source Typeface. Retrieved from https://www.behance.net/gallery/28749913/HK-Grotesk-Open-Source-Typeface.
        p.m-sect 
          |Pug HTML Preprocessor. (n.d.). Retrieved from https://pugjs.org/.
        p.m-sect 
          |Romano, C. (n.d.). How to store theme color preferences using the Local Storage API. Retrieved November 27, 2019, from https://codyhouse.co/blog/post/store-theme-color-preferences-with-localstorage.
        p.m-sect 
          |Simple lightbox. (n.d.). Retrieved from https://dbrekalo.github.io/simpleLightbox/.
        p.m-sect 
          |Verlicchi, A. (n.d.). Lazyload. Retrieved November 27, 2019, from https://www.andreaverlicchi.eu/lazyload/.

      
    footer 
     include ./includes/footer1.pug