doctype
html(lang='en')
  head
    include ./includes/head1.pug
    title References 
  body#darkregion 
    header
      include ./includes/nav1.pug 
      //- #nav-mobile-placeholder.charette 
    main#project
      section#intro-sect.x18c.grid
        h1.r-sect References   
      section.x18c.grid

        ul.m-sect   
          li.flex-b
            span.fab.fa-osi
            div Open-source fonts used: #[a.space-g.in-txt(href="https://hanken.co/collections/free/products/hk-grotesk")  HK Grotesk] from <em>Hanken Design Co. </em> and #[a.mazius.in-txt(href="http://collletttivo.it/") Mazius Display] from <em>Colllectttivo</em>.
          li.flex-b
            span.fab.fa-font-awesome-alt
            | Icons are from&nbsp;   
            |#[a.in-txt(href="fontawesome.com/") Font Awesome] 
            |.
         
          li.flex-b
            span.fad.fa-circle
            div 
              | Some documentation images for 
              |#[a.in-txt(href="/gakko.html") Gakko case-study]
              | are taken from  
              a(href="https://www.gakko.org/camps").in-txt Gakko's
              |  image archive.        
          
          li.flex-b
            span.fab.fa-js
            div 
              | JS libs used are 
              a(href="http://kenwheeler.github.io/slick/").in-txt Slick.js
              |;  
              a(href="https://github.com/verlok/lazyload").in-txt Lazyload
              |   from Verlok; and  
              a(href="https://isotope.metafizzy.co/").in-txt  Isotope
              |   for my photogrid 

    footer 
     include ./includes/footer1.pug